div.mt-5.container
    h1 About
    h2.mt-3 Our mission
    p We help professionals reconnect with their creativity to strengthen their leadership, collaboration, and capacity to innovate.
        br
        | Through our playful and experiential workshops, we create learning experiences that engage the emotions, body, and mind—fostering meaningful transformation in the workplace.
    h2.mt-3 Our philosophy
    p In a world full of constant challenges,
    strong joy
    | is a powerful driver for building seamless collaboration, responding to change with agility, and cultivating active resilience.
    | Through our workshops, we aim to help each person tap into their positive energy and reimagine their everyday approach to work.
    img(src='/img/webp/happy_960.webp', alt='A happy woman dances near her desk' width="100%").rounded-corner.mt-1
div.full-width.mt-3
    div.wave
        img(src='/img/svg/wave_04.svg' width='100%' height='100%' alt='' aria-hidden='true')
div.full-width.yellow-background
    div.container.mt-3.mb-3
        img(src='/img/webp/vanessa-500.webp', alt='Portrait of Vanessa').about-disk
        h2.follow Vanessa Gerold
        div.mb-1
        h3.follow Founder of Wonderflow and Facilitator
        div.mb-1
        p.follow
            | With
            strong over 20 years of international experience in marketing and innovation
            | in sectors such as beauty and health, I have developed a unique expertise in understanding team dynamics and fostering creativity, whether in small businesses or multinational corporations.
        div.mb-1
        p.follow
            strong Wonderflow
            | is the culmination of this journey. Drawing on
            | insights from neuroscience, management research, and ancient arts, I design eye-opening experiences that blend reflection, emotion, and action.
div.full-width
    div.wave
        img(src='/img/svg/wave_05.svg' width='100%' height='100%' alt='' aria-hidden='true').up2px

//- Path: src/views/about.pug