div.mt-5.container
    h1 Our approach
    h2.mt-3 The Wonderflow experience.
    p At the crossroads of modern science and ancestral wisdom, our unique pedagogy blends structure with intuition for a truly transformative journey.
    h3 Our pedagogical approach combines:
    ul.list.yellow-list.mt-2
        li Introspection and movement to embody learning.
        li Creative play to awaken imagination and curiosity.
        li Sharing and action to turn insights into solutions at work.
div.full-width
    div.wave
        img(src='/img/svg/curve_up_yellow_03.svg' width='100%' height='197' alt='' aria-hidden='true').img-lazy.down2px
div.full-width.yellow-background
    div.container.mt-2
        h2 A unique experience: A balance of mind, body, and emotions for full engagement.
        div.center.mt-2
            img(src='/img/svg/illustration-english.svg', alt="The mind, emotions, and body linked by intention, calligraphy, and movement."
                width='480' height='357').img-three-circles
div.full-width.yellow-background
    div.wave
        img(src='/img/svg/curve_up_white_02.svg' width='100%' height='197' alt='' aria-hidden='true').img-lazy
div.container
        h2.text-center.mt-3 Our 3-step method
        div.flex-row.overflow-hidden.pt-2
            div.card.card-equal
                div.flex-center
                    img(src='/img/svg/logo-contour.svg', alt='', aria-hidden='true').contour
                    img(src='/img/webp/method-1.webp', alt='People practice Tai Chi Qigong.').img-approach-circle
                h3.text-center.mt-2 Anchor
                p.text-center Presence and focus through breathing and Tai Chi Qigong movements.
            div.card.card-equal
                div.flex-center
                    img(src='/img/svg/logo-contour.svg', alt='', aria-hidden='true').contour.counter-45
                    img(src='/img/webp/method-2.webp', alt="Woman's hands doing origami.").img-approach-circle
                h3.text-center.mt-2 Create
                p.text-center Explore creative potential with tools like “spontaneous calligraphy” and origami.
            div.card.card-equal
                div.flex-center
                    img(src='/img/svg/logo-contour.svg', alt='', aria-hidden='true').contour.counter-180
                    img(src='/img/webp/method-3.webp', alt="Woman's hand pointing to the graph.").img-approach-circle
                h3.text-center.mt-2 Transform
                p.text-center Develop a clear, actionable plan to turn ideas into results.
div.full-width
    div.wave
        img(src='/img/svg/curve_up_yellow_03.svg' width='100%' height='197' alt='' aria-hidden='true').img-lazy.down2px
div.full-width.yellow-background
    div.container.mt-2
        h2.mt-4 A space that encourages playful introspection.
        p Each workshop becomes a space for dialogue, connection, and discovery—where creativity fuels well-being, performance, and adaptability.
        img(src='/img/webp/space.webp', alt='A woman explains something to the other participants.' width='1192' height='794' loading="lazy").rounded-corner.mt-2.img-lazy.img-big
div.full-width.yellow-background
    div.wave
        img(src='/img/svg/curve_up_white_02.svg' width='100%' height='197' alt='' aria-hidden='true').img-lazy
div.full-width
    div.container
        div.mt-2
            img(src='/img/webp/origami-500.webp', alt='Vanessa is doing origami.').about-disk
            h2.follow.mt-3 Our tools
            div.mb-1
            p.follow Our tools are designed to foster introspection, interaction, and collaboration, all while staying grounded in a playful and experiential approach. Here are some of our exclusive tools that may be used in your workshop:
            div.mb-1
            p.follow
                strong Spontaneous Calligraphy
                br
                | This technique invites participants to respond to a question by freely drawing brush strokes with black ink. It encourages emotional reconnection and introspective reflection. It's a graceful way to explore complex questions with simplicity and playfulness.
            div.mb-1
            p.follow
                strong Origami
                br
                | Origami brings together creativity, attention to detail, patience, and precision. It also opens space for reflection and collaboration, making it both a meditative and team-building experience.
            div.mb-1
            p.follow
                strong Tai Chi Qigong
                br
                | By combining gentle movements with conscious breathing, Tai Chi Qigong helps anchor learning in the body. It cultivates presence and creates a more immersive, embodied experience.
            div.mb-1
div.container
    h2.mt-3.text-center Testimonials
    div.testimonial-slider
        div.testimonial-dots
            button.testimonial-dot.active(type='button' data-index="0")
            button.testimonial-dot(type='button' data-index="1")
            button.testimonial-dot(type='button' data-index="2")
        div.testimonial.active
            p
                q.testimonial-message The Wonderflow effect, a creative activity that offers a moment to pause and reflect.
            p
                cite.testimonial-title - Annie Gloutney, Associate Director, Leonard de Vinci School
        div.testimonial
            p
                q.testimonial-message Wonderflow is about stepping out of your comfort zone in a safe and supportive space.
            p
                cite.testimonial-title - Manjiri Adkar, Procurement Manager, Dermtek
        div.testimonial
            p
                q.testimonial-message This workshop was dynamic and varied. I loved the unique combination of Tai Chi movements and painting — it really allowed my intuition to express itself.
            p
                cite.testimonial-title - Nathale Tremblay, Senior Innovation Manager, Lise Watier
button(type='button' hx-target="main" hx-get="/en-ca/content_workshops" hx-push-url='/en-ca/workshops' hx-swap='show:window:top').mt-2
    | Discover our workshops
    <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>

//- Path: src/views/approach.pug