div.daily
    div#hero
        div.hero-titles
            h1.hero-h1 "Everyday Creativity"
            h2.hero-h2 November 17, 2023
            h2.hero-h2 How to (re)connect with your creative thinking and turn it into a professional asset every day
    div.wave
        img(src='/img/svg/wave.svg' width='100%' height='100%' class='down2px' alt='' aria-hidden='true')

div.mt-3.container
    ul.list.yellow-list.mt-3
        li.scale.transition Would you like to think more originally?
        li.scale.transition Would you like to solve problems more effectively?
        li.scale.transition Would you like to strengthen your creative posture or simply gain confidence in your creativity?

    h2.mt-3 This workshop is for you...
    p Whether you're in marketing, communication, or any other role. For any manager or leader who wants to bring new ideas, improve adaptability, and guide transformations effectively and calmly.
    p Entrepreneurs will also benefit from it.

    h2.mt-3 What will you learn?

    ul.list.yellow-list.mt-3
        li.scale.transition Understand the myths and realities of the creative process and overcome your blocks
        li.scale.transition Strengthen your creative thinking by combining intuition and reflection
        li.scale.transition Stimulate your imagination by enhancing inner listening
        li.scale.transition Develop an agile, resilient mindset to meet your current challenges
        li.scale.transition Create an action plan to nurture your creativity daily in alignment with your professional goals

    h2.mt-3 How?
    p Through a teaching approach that alternates theory, self-reflection, and shared experiences to stimulate key creativity factors such as imagination, curiosity, and exploration.

div.full-width.mt-3
    div.wave
        img(src='/img/svg/curve_up_yellow.svg' width='100%' height='100%' alt='' aria-hidden='true')

div.full-width.yellow-background
    div.container
        h2 Why participate?
        ul.list.white-list.mt-3
            li.scale.transition Fully leverage your reflective ability at work and beyond through creativity
            li.scale.transition Better understand the creative process and how to apply it
            li.scale.transition Try out innovative techniques and tools
            li.scale.transition Take stock of your creative resources and enrich them
            li.scale.transition Allow yourself a moment of pause and reflection
        p The content will be presented in a dynamic and interactive way where exploring creativity tools live will lead participants out of their comfort zones playfully, while equipping them with tools to continue nurturing creativity every day.
        img(src='/img/webp/space.webp', alt='venue' width='100%').rounded-corner.mt-3
        h2 No prerequisites!
        p Just arrive with an open mind and comfortable clothes.
        p The atmosphere is joyful and encourages self-connection without judgment. A maximum of 12 participants from various organizations.
        div.mt-1
            button#download.scale.hover-white.mb-2 Download the workshop program

div.full-width
    div.wave
        img(src='/img/svg/curve_down_yellow.svg' width='100%' height='100%' alt='' aria-hidden='true')

// Script for download button
script(type='text/javascript', src='js/download.js')
