div.hero-container
    div#hero
        canvas#bg-canvas
        div.hero-titles
            h1.hero-h1 Original and playful workshops to boost professional development
            h2.hero-h2 Our experiential workshops are custom-designed to strengthen authentic leadership and encourage collaboration within your teams.
        div#hero-logo-container
            img#hero-logo-contour(src='/img/svg/logo-contour.svg' alt='Wonderflow logo outline')
            video#hero-logo-video(autoplay muted loop playsinline preload="none" poster="/img/webp/logo-square-720.webp" aria-label="Animation du logo Wonderflow suivie d'un bref aperçu des ateliers")
            //video#hero-logo-video(autoplay muted loop playsinline)
                source(src="video/wonderflow-hero-video-3sec.mp4" type="video/mp4")
    div.wave
        img(src='/img/svg/wave.svg' alt='' aria-hidden='true').down2px
div.container
    //p.bold La reconnexion à soi est essentielle. Elle favorise la créativité, véritable clé de survie dans notre monde moderne. Le Forum économique mondial l'a d'ailleurs classée parmi les compétences les plus recherchées.

    //h2.mt-3 Wonderflow c'est quoi?
    //    p Des ateliers ludiques et originaux pour renforcer votre posture créative dans votre milieu professionnel.
    //    p L’approche s'appuie sur la connaissance des besoins actuels de l'entreprise, les découvertes de la neuroscience et des techniques de créativité éprouvées depuis des siècles.




    div.banner-list-container
        img(src='/img/webp/people-square-1000.webp', alt='Speaking participants').about-disk
        h2.follow.mt-3.mb-3 Are you facing one of these challenges?
        div.mb-1
        p.bullet.follow Teams working in
            strong silos
            | and struggling to collaborate
        div.mb-1
        p.bullet.follow
            strong Perfectionism
            | blocking innovation and
            strong slowing progress
        div.mb-1
        p.bullet.follow Difficulty adapting to
            strong change
            | and
            strong uncertainty
        div.mb-1
        p.bullet.follow Declining engagement in a
            strong fast-evolving environment
        div.mb-1
        p.bullet.follow
            strong Problem-solving
            | approaches that stifle creativity
        div.mb-1
        p.follow.bold Wonderflow helps you tackle these obstacles with playful and experiential workshops.

    button.follow(type='button' hx-target="main" hx-get="/en-ca/content_contact" hx-push-url='/en-ca/contact' hx-swap='show:window:top').transition.mt-2
        | Contact us
        <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>



    h2.mt-5.mb-2 Step into a Wonderflow workshop to…

    ul.list.yellow-list.grid.grid-md-col-3.mt-2
        li Spark true collaboration and unleash the full power of your team
        li Lead change with clarity, confidence, and a human touch
        li Embrace change as a chance to grow, adapt, and reinvent yourself

    p.italic Our workshops invite you to think “outside the box”, to create together, and to leave with a concrete action plan. All in a space where curiosity, kindness, and wonder guide the experience.
    h3.mt-3 Who is this for?
    p For professionals and leaders who seek to combine performance and professional fulfillment.
    //p
    //    | Idéal pour les professionnels et gestionnaires qui cherchent à
    //    strong allier performance et épanouissement professionnel
    button(type='button' hx-target="main" hx-get="/en-ca/content_workshops" hx-push-url='/en-ca/workshops' hx-swap='show:window:top').transition.mt-2
        | Discover our workshops
        <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>
    //h2.mt-3 Pour qui ?
    //p Tout gestionnaire ou leader qui souhaite arriver avec de nouvelles idées, développer sa capacité d'adaptation, accompagner les transformations de manière efficace et sereine.
    //
    //div.flex-row.mt-1
    //    div.thought-container.scale.transition
    //        p.bubble03 Comment renforcer ma confiance créative?
    //        div.bubble02
    //        div.bubble01
    //        img(src='/img/webp/question_01_600px.webp', alt='une personne qui se pose des question' loading='lazy').yellow-background.disk
    //    div.thought-container.scale.transition
    //        p.bubble03 Comment trouver des idées ou des solutions inédites?
    //        div.bubble02
    //        div.bubble01
    //        img(src='/img/webp/question_02_600px.webp', alt='une autre personne qui se pose des question' loading='lazy').yellow-background.disk
    //    div.thought-container.scale.transition
    //        p.bubble03 Comment prendre du recul, voir clairement la situation?
    //        div.bubble02
    //        div.bubble01
    //        img(src='/img/webp/question_03_600px.webp', alt='une troisième personne qui se pose des question' loading='lazy').yellow-background.disk

div.full-width.mt-1
    div.wave
        img(src='/img/svg/curve_up_yellow.svg' width='100%' height='100%' alt='' aria-hidden='true')
div.full-width.yellow-background
    div.container
        h2.mt-2 Why Wonderflow?
        p A shift in mindset and behavior
        div.z1
            h3.mt-2.uppercase A unique experience
            p.white-dot A unique balance between mental, physical, and emotional engagement for total participant involvement.
        div.z1.ml-md-64
            h3.mt-2.uppercase Action and results-oriented
            p.white-dot Participants leave with a concrete action plan, ready to be implemented at work.
        div.z1.ml-md-128
            h3.mt-2.uppercase A post-workshop follow-up for lasting impact
            p.white-dot Possibility of group support (2 x 45-minute online sessions). Individual coaching available upon request.
        button.ml-md-128(type='button' hx-target="main" hx-get="/en-ca/content_approach" hx-push-url='/en-ca/approach' hx-swap='show:window:top').transition.mt-2
            | Discover our approach
            <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>
div.full-width.yellow-background.pt-3
    div.wave
        img(src='/img/svg/curve_up_white.svg' width='100%' height='100%' alt='' aria-hidden='true')
// Path: views/index.pug