p.bold.block Sign up for the newsletter
p I would like to receive information about upcoming workshops, tips for cultivating my creativity…
div.mt-1
    label(for='email') Email:
    input(id='email' name='email' type='email', placeholder='my@email.com')
    button(hx-post='/newsletter' hx-target='#newsletter' hx-include='#email').mt-1 Sign up
