div.full-width.yellow-background
    div.container.mt-5
        h1 Registration – Everyday Creativity

        h2 November 17, 2023
        div.center
            img(src='./img/webp/inscription.webp').workshop.rounded-corner
        form(method='post' action='/checkout')#inscription
            label.mt-2.z1.white-dot(for='first_name') First Name:
            input#first_name.z1(type='text' name='first_name' placeholder='Your first name (required)' required)
            label.mt-2.z1.white-dot(for='last_name') Last Name:
            input#last_name.z1(type='text' name='last_name' placeholder='Your last name (required)' required)
            label.mt-2.z1.white-dot(for='email') Email:
            input#email.z1(type='email' name='email' placeholder='Your email (required)' required)
            label.mt-2(for='tel') Phone:
            input#tel(type='tel' name='tel' placeholder='Your phone number')
            label.mt-2(for='company') Company:
            input#company(type='text' name='company' placeholder='Your company')
            label.mt-2(for='position') Position:
            input#position(type='text' name='position' placeholder='Your position')
            label.mt-2(for='message') Question or comment:
            textarea#message(name='message' rows='5' placeholder='(allergies or dietary specifics, other)')
            button.btn.btn-primary(type='submit').big-scale.transition.mt-2.mb-1 Register
div.full-width
    div.wave.mb-3
        img(src='/img/svg/curve_down_yellow.svg' width='100%' height='100%' alt='' aria-hidden='true')
