div.mt-5.container
    h1 Workshops
    p In an ever-changing business environment, marked by digital transformation and uncertainty, it's essential to develop key skills such as agility, emotional intelligence and problem-solving.
    p That's why Wonderflow offers tailor-made themes designed to reinforce these essential skills and meet your organization's specific challenges.
    h2.mt-3 Workshop themes – Tailored to your needs
    div.grid.grid-lg-col-2.mb-3
        div.card-wrapper-workshops
            div.card.height-100.mt-2
                img(src='/img/svg/logo-contour.svg', alt='', aria-hidden='true').contour.contour-workshops
                img(src='/img/webp/calligraphie-900.webp', alt='People doing calligraphy.').card-img-xl-left.width-100.height-100.circle.cover
        ul.list.yellow-list.mt-2
            li
                strong Creative collaboration:
                p.block.mt-0 Encourage co-creation, team alignment, and innovation.
            li
                strong Resilience and creativity:
                p.block.mt-0 Build trust in your ideas and transform obstacles into opportunities.
            li
                strong Authentic leadership:
                p.block.mt-0 Lead with empathy, align with your values, and redefine success.
            li
                strong Creative leadership:
                p.block.mt-0 Inspire through diverse perspectives and inclusive collaboration.
    h3.mt-2 Have a specific challenge?
    p.block Let’s talk about a custom solution.
    button(type='button' hx-target="main" hx-get="/en-ca/content_contact" hx-push-url='/en-ca/contact' hx-swap='show:window:top').mt-2.transition
        | Contact us
        <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>
div.full-width.mt-1
    div.wave
        img(src='/img/svg/curve_up_yellow.svg' width='100%' height='100%' alt='' aria-hidden='true')
div.full-width.yellow-background
    div.container.flex-md-col-2-rev
        div
            img(src='/img/webp/holding_logo.webp', alt='Vanessa is holding the Wonderflow logo.').img-workshops-circle
        div
            h2.mt-2 Why Wonderflow?
            p.block A shift in mindset and behavior
            div.z1
                h3.mt-2.uppercase A unique experience
                p.white-dot A unique balance between mental, physical, and emotional engagement for total participant involvement.
            div.z1
                h3.mt-2.uppercase Action and results-oriented
                p.white-dot Participants leave with a concrete action plan, ready to be implemented at work.
            div.z1
                h3.mt-2.uppercase A post-workshop follow-up for lasting impact
                p.white-dot Possibility of group support (2 x 45-minute online sessions).
                    br
                    | Individual coaching available upon request.
            div.z1
                p.italic.mt-3 Trainings are eligible under the 1% law (Quebec).
            button(type='button' hx-target="main" hx-get="/en-ca/content_about" hx-push-url='/en-ca/about' hx-swap='show:window:top').mt-2.transition
                | Our mission
                <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>

div.full-width.yellow-background.pt-3
    div.wave
        img(src='/img/svg/curve_up_white.svg' width='100%' height='100%' alt='' aria-hidden='true')
// Path: src/views/workshops.pug


