/* fonts */
@font-face {
    font-family: "extraLight";
    src: url("font/raleway-extralight-webfont.woff2") format("woff2");
}
@font-face {
    font-family: "light";
    src: url("font/raleway-light-webfont.woff2") format("woff2");
}
@font-face {
    font-family: "regular";
    src: url("font/raleway-regular-webfont.woff2") format("woff2");
}
@font-face {
    font-family: "medium";
    src: url("font/raleway-medium-webfont.woff2") format("woff2");
}
@font-face {
    font-family: "bold";
    src: url("font/raleway-bold-webfont.woff2") format("woff2");
}
@font-face {
    font-family: "extraBold";
    src: url("font/raleway-extrabold-webfont.woff2") format("woff2");
}
@font-face {
    font-family: "black";
    src: url("font/raleway-black-webfont.woff2") format("woff2");
}

/* color variables */
:root {
    --blue: #71ABD0;
    --pink: #F6ACBB;
    --beige: #FEF8E8;
    --yellow: #FEF590;
    --orange: #FAB073;
    --white: #FFF;
    --black: #363636;
}

/* foreground colors */
.blue { color: var(--blue); }
.pink { color: var(--pink); }
.beige { color: var(--beige); }
.yellow { color: var(--yellow); }
.orange { color: var(--orange); }
.black { color: var(--black); }
.white { color: var(--white); }

/* background colors */
.back_blue { background-color: var(--blue); }
.back_pink { background-color: var(--pink); }
.back_beige { background-color: var(--beige); }
.back_yellow { background-color: var(--yellow); }
.back_orange { background-color: var(--orange); }
.back_black { background-color: var(--black); }
.back_white { background-color: var(--white); }

/* general */
html {
    background-color: var(--white);
    font-family: "regular", sans-serif;
    font-size: 1.25rem;
    line-height: 1.42857143;
    color: var(--black);
}

* {
    margin: 0;
    padding: 0;
    letter-spacing: .05rem;
    /*font-kerning: normal;*/
}

img {
    display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no_scroll::-webkit-scrollbar {
    display: none;
}
.no_scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* navigation & links */
.title {
    font-family: "extraBold";
    font-size: 1rem;
    color: var(--black);
}

a {
    text-decoration: none;
    color: var(--black);
    font-size: .75rem;
}

nav {
    background-color: #fffd;
    border-bottom: 1px solid #e7e7e7;
    text-transform: uppercase;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100;
}

h1, h2 {
    font-family: "extraLight", sans-serif;
    font-size: 2rem;
    line-height: 1.2;
}

h3 {
    font-family: "bold", sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    text-transform: uppercase;
}



.white_frame {
    background-color: var(--white);
    padding: 5px;
}

.rounded_corners {
    border-radius: 12px;
}

.convert_to_circle {
    border-radius: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

#section_01 {
    padding-top: 70px;
    padding-bottom: 0;
    margin: 0;
}

hr {
    height: 1px;
    border: 0;
}
