div.mt-5.container
    h1 À propos
    h3 Notre mission
    p Être au service de la créativité individuelle. Notre approche se fonde sur la conviction que nous sommes tous créatifs, mais que nous avons pu nous déconnecter ou perdre confiance en notre créativité avec le temps.
    img(src='/img/webp/happy_960.webp', alt='À propos' width="100%").rounded-corner.mt-1
div.full-width.mt-3
    div.wave
        img(src='/img/svg/wave_04.svg' width='100%' height='100%')
div.full-width.yellow-background
    div.container.mt-3.mb-3
        h3.mb-1 La créatrice et facilitatrice des ateliers Wonderflow
        img(src='/img/webp/vanessa.webp', alt='Portrait de Vanessa').about-disk
        p.follow Après 20 ans d’expérience en Marketing et en Innovation, en Europe, aux États Unis et au Canada, j’ai réalisé que peu importe notre industrie ou poste, et malgré nos différences culturelles, nous avons tous des problématiques similaires dans notre milieu professionnel.
        div.mb-1
        p.follow Fascinée par le processus de création, j’ai toujours pratiqué une activité artistique dont le dessin. En quête d’équilibre et de sérénité, je me suis aussi plongée au fil des années dans divers domaines liés au développement personnel, la philosophie, la psychologie, la spiritualité, le bien être à travers de multiples séminaires, conférences, lectures, et cours. Le Tai-chi Qigong est une de mes passions que j’aime enseigner.
        div.mb-1
        p.follow Il me tient à cœur aujourd’hui de partager les outils qui m’ont permis non seulement de proposer des solutions innovantes au sein de diverses organisations mais aussi de m’épanouir professionnellement.
div.full-width
    div.wave
        img(src='/img/svg/wave_05.svg' width='100%' height='100%').up2px
// Path: src/views/about.pug