div.mt-3.container
    h1 À propos
    h3 Notre mission
    p Être au service de la créativité individuelle. Notre approche se fonde sur la conviction que nous sommes tous créatifs, mais que nous avons pu nous déconnecter ou perdre confiance en notre créativité avec le temps.
    img(src='/img/chinese.jpg')

    h3 La créatrice et animatrice des ateliers Wonderflow
    figure
        img(src='/img/svg/vanessa.jpg', alt='Portrait de Vanessa')
        figcaption Vanessa, fondatrice de Wonderflow

    blockquote
        p Après 20 ans d’expérience en Marketing et en Innovation, en Europe, aux États Unis et au Canada, j’ai réalisé que peu importe notre industrie ou poste, et malgré nos différences culturelles, nous avons tous des problématiques similaires dans notre milieu professionnel.
        p Fascinée par le processus de création, j’ai toujours pratiqué une activité artistique dont le dessin. En quête d’équilibre et de sérénité, je me suis aussi plongée au fil des années dans divers domaines liés au développement personnel, la philosophie, la psychologie, la spiritualité, le bien être à travers de multiples séminaires, conférences, lectures, et cours. Le Tai-chi Qigong est une de mes passions que j’aime enseigner.
        p Il me tient à cœur aujourd’hui de partager les outils qui m’ont permis non seulement de proposer des solutions innovantes au sein de diverses organisations mais aussi de m’épanouir professionnellement.
// Path: src/views/about.pug