//extends layout

block content
    h1 Notre Approche

    h2 Une approche introspective en mouvement, originale et ludique

    img(src='/img/svgFolder/illustration.svg', alt='illustration')

    p Cette approche s'appuie sur la connaissance des besoins actuels de l'entreprise, sur les découvertes de la neuroscience et des techniques de créativité éprouvées depuis des siècles.

    h4 Respire
    img(src='/img/svgFolder/respire.svg', alt='respire')
    p Ancrer le corps pour installer la présence avec des exercices de respiration et des mouvements simples de Taichi Qigong.

    h4 Écoute
    img(src='/img/svgFolder/ecoute.svg', alt='ecoute')
    p Pratiquer l’écoute intérieure et se connecter à ses ressources créatives en explorant la "calligraphie spontanée" à l’encre de Chine.

    h4 Crée
    img(src='/img/svgFolder/cree.svg', alt='cree')
    p Adopter des attitudes et des comportements adaptés pour activer une posture créative au quotidien.

    h3 Au cas où vous vous demanderiez, un atelier Wonderflow n’est pas:
    ul
        li Un cours de gymnastique chinoise
        li Un cours d’expression artistique ou d’art thérapie
        li Un cours de philosophie ou de spiritualité
        li Une prise de tête!

    h3 Un espace qui favorise une introspection ludique
    p Afin de favoriser l’ouverture et le retour vers soi, un nombre limité de professionnels (maximum 12 personnes) issus de diverses organisations et horizons, se retrouvent pendant 1 journée dans un lieu esthétique et inspirant, où règnent la bienveillance, l’ouverture d’esprit et le non-jugement.
    button(type='button') Découvrez nos ateliers

    h2 Wonderflow, c'est...
    h3 Une expérience individuelle
    p Un atelier Wonderflow est avant tout une expérience individuelle et non une activité de «team building»; c’est pourquoi ces ateliers sont inter-entreprises.
    p Ils favorisent la découverte de soi mais aussi des autres participants, jamais rencontrés, comme dans un voyage en terre inconnue!

    // Path: src/views/approach.pug