div.mt-3.container
    h1 Notre Approche

div.full-width
    div.wave
        img(src='/img/svg/curve_up_yellow_03.svg' width='100%' height='100%')
div.full-width.yellow-background
    div.container
        h2 Une approche introspective en mouvement, originale et ludique
        div.center.mt-2
            img(src='/img/svg/illustration.svg', alt='illustration' style='width: clamp(320px, 80%, 480px); height: auto;').scale.transition
        p.mt-2 Cette approche s'appuie sur la connaissance des besoins actuels de l'entreprise, sur les découvertes de la neuroscience et des techniques de créativité éprouvées depuis des siècles.

        div.flex-row.mt-2
            div.card.scale.transition
                h2 Respire
                img(src='/img/jpg/respire_960.jpg', alt='respire').rounded-corner
                p Ancrer le corps pour installer la présence avec des exercices de respiration et des mouvements simples de Taichi Qigong.
            div.card.scale.transition
                h2 Écoute
                img(src='/img/jpg/ecoute_960.jpg', alt='écoute').rounded-corner
                p Pratiquer l’écoute intérieure et se connecter à ses ressources créatives en explorant la "calligraphie spontanée" à l’encre de Chine.
            div.card.scale.transition
                h2 Crée
                img(src='/img/jpg/cree_960.jpg', alt='crée').rounded-corner
                p Adopter des attitudes et des comportements adaptés pour activer une posture créative au quotidien.

        h3.mt-3 Au cas où vous vous demanderiez, un atelier Wonderflow n’est pas:
        ul.list.white-list.mt-2
            li.scale.transition Un cours de gymnastique chinoise
            li.scale.transition Un cours d’expression artistique ou d’art thérapie
            li.scale.transition Un cours de philosophie ou de spiritualité
            li.scale.transition Une prise de tête!

        h3 Un espace qui favorise une introspection ludique
        p Afin de favoriser l’ouverture et le retour vers soi, un nombre limité de professionnels (maximum 12 personnes) issus de diverses organisations et horizons, se retrouvent pendant 1 journée dans un lieu esthétique et inspirant, où règnent la bienveillance, l’ouverture d’esprit et le non-jugement.
        img(src='/img/jpg/space.jpg', alt='lieu').disk.mt-3
        div.center
            button(type='button').mt-2.hover-white.scale.transition
                | Découvrez nos ateliers
                <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>
div.full-width.yellow-background
    div.wave
        img(src='/img/svg/curve_up_white_02.svg' width='100%' height='100%')
div.full-width
    div.container
        h2 Wonderflow, c'est...
        h3 Une expérience individuelle
        p.mb-3 Un atelier Wonderflow est avant tout une expérience individuelle et non une activité de «team building»; c’est pourquoi ces ateliers sont inter-entreprises. Ils favorisent la découverte de soi mais aussi des autres participants, jamais rencontrés, comme dans un voyage en terre inconnue!

        // Path: src/views/approach.pug