div.mt-5.container
    h1 Notre Approche
    //p À la croisée des découvertes scientifiques modernes et des savoirs ancestraux éprouvés, notre pédagogie allie rigueur et intuition pour offrir une expérience d’apprentissage transformative.
    h2.mt-3 L’expérience Wonderflow.
    p À la croisée des sciences contemporaines et de la sagesse ancestrale, notre pédagogie unique allie structure et intuition pour offrir une expérience d’apprentissage vivante et profonde.
    h3 Notre approche pédagogique combine:
    ul.list.yellow-list.mt-2
        li
            strong Des moments d’introspection
            | et exercices en mouvement pour ancrer les apprentissages.
        li
            strong Des activités ludiques et créatives
            | pour stimuler l’imagination, la curiosité et l’exploration.
        li
            strong Du partage et de l’action
            | pour intégrer les enseignements dans des solutions concrètes au travail.

div.full-width
    div.wave
        img(src='/img/svg/curve_up_yellow_03.svg' width='100%' height='100%' alt='' aria-hidden='true').down2px
div.full-width.yellow-background
    div.container.mt-2
        h2 Une expérience unique: Un équilibre entre mental, corps et émotionnel pour une implication totale.
        div.center.mt-2
            img(src='/img/svg/illustration.svg', alt="Le mental, les émotions et le corps liés par intention, calligraphie et mouvement"
                style='width: clamp(320px, 80%, 480px); height: auto;')

div.full-width.yellow-background
    div.wave
        img(src='/img/svg/curve_up_white_02.svg' width='100%' height='100%' alt='' aria-hidden='true')
div.container
        h2.text-center.mt-3 Notre Méthode en 3 étapes
        div.flex-row.overflow-hidden.pt-2
            div.card.card-equal
                div.flex-center
                    img(src='/img/svg/logo-contour.svg', alt='', aria-hidden='true').contour
                    img(src='/img/webp/method-1.webp', alt='Les gens pratiquent le Tai Chi Qigong').img-approach-circle
                h3.text-center.mt-2 S’ancrer
                p.text-center Revenir au calme et à la concentration grâce à la respiration et/ou mouvements de Tai Chi Qigong.
            div.card.card-equal
                div.flex-center
                    img(src='/img/svg/logo-contour.svg', alt='', aria-hidden='true').contour.counter-45
                    img(src='/img/webp/method-2.webp', alt='Mains de femme faisant de l\'origami').img-approach-circle
                h3.text-center.mt-2 Créer
                p.text-center Explorer son potentiel créatif avec des outils comme l’origami ou la calligraphie spontanée.
            div.card.card-equal
                div.flex-center
                    img(src='/img/svg/logo-contour.svg', alt='', aria-hidden='true').contour.counter-180
                    img(src='/img/webp/method-3.webp', alt='Main de femme pointant vers le graphique').img-approach-circle
                h3.text-center.mt-2 Transformer
                p.text-center Élaborer un plan d’action clair pour transformer ses idées en résultats

        //h2.mt-3 Wonderflow, c'est...
        //h3 Une expérience individuelle
        //p Un atelier Wonderflow est avant tout une expérience individuelle et non une activité de «team building»; c’est pourquoi ces ateliers sont inter-entreprises. Ils favorisent la découverte de soi mais aussi des autres participants, jamais rencontrés, comme dans un voyage en terre inconnue!
        //
div.full-width
    div.wave
        img(src='/img/svg/curve_up_yellow_03.svg' width='100%' height='100%' alt='' aria-hidden='true').down2px
div.full-width.yellow-background
    div.container.mt-2
        h2.mt-4 Un espace qui favorise une introspection ludique
        p L’atelier se transforme en unespace d’exploration et de dialogue, où la créativité devient un levier puissant pour lebien-être, la performance et l’adaptabilitédes participants.
        img(src='/img/webp/space.webp', alt='Une femme explique quelque chose aux autres participants' width='1192' height='764' loading="lazy").rounded-corner.mt-2.img-lazy
        //div.center
        //    button(type='button' hx-target="main" hx-get="/content_workshops" hx-push-url='/workshops' hx-swap='show:window:top').mt-2.hover-white.scale.transition
        //        | Découvrez nos ateliers
        //        <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>
div.full-width.yellow-background
    div.wave
        img(src='/img/svg/curve_up_white_02.svg' width='100%' height='100%' alt='' aria-hidden='true')
div.full-width
    div.container
        //h3.mt-3 Au cas où vous vous demanderiez, un atelier Wonderflow n’est pas:
        //ul.list.yellow-list.mt-2
        //    li.scale.transition Un cours de gymnastique chinoise
        //    li.scale.transition Un cours d’expression artistique ou d’art thérapie
        //    li.scale.transition Un cours de philosophie ou de spiritualité
        //    li.scale.transition Une prise de tête!
        div.mt-2
            img(src='/img/webp/origami-500.webp', alt='Vanessa fait de l\'origami').about-disk
            h2.follow.mt-3 Nos outils
            div.mb-1
            p.follow Nos outils sont conçus pour favoriser l’introspection, l'interaction et la collaboration tout en restant ancré dans une approche ludique et expérimentale. Voici quelques-uns de nos outils exclusifs qui pourraient être utilisés pour votre atelier:
            div.mb-1
            p.follow
                strong La calligraphie spontanée
                | consiste à répondre spontanément à une question en traçant librement des traits à l'encre de Chine. Cet outil permet aux participants de se reconnecter à leurs émotions et de favoriser la réflexion introspective. C’est une façon élégante d’aborder des questions complexes de manière simple et ludique.
            div.mb-1
            p.follow
                strong L’origami
                | combine la créativité, l'attention aux détails, la patience et la précision, tout en offrant des possibilités de réflexion et de collaboration.
            div.mb-1
            p.follow
                strong Le taichi Qigong
                | qui combine mouvements simples et respiration, permet d’ancrer les apprentissages dans le corps en cultivant la présence pour une expérience plus immersive.
            div.mb-1
div.container
    h2.mt-3.text-center Témoignages
    //div.scale.transition
    //    q.mt-2 L'effet Wonderflow, une activité créative pour s'arrêter, faire le point et avancer.
    //    cite - Annie Gloutney, Directrice adjointe, Ecole Léonard-De Vinci et annexe
    //div.scale.transition
    //    q.mt-2 Wonderflow, c’est sortir de sa zone de confort dans un cadre bienveillant
    //    cite - Manjiri Adkar, Strategic procurement manager, Dermtek
    //div.scale.transition
    //    q.mt-2 Cet atelier était dynamique et diversifié. L’association des mouvements de Tai-chi à la peinture est original et j'ai beaucoup aimé le recours à ces deux "outils" afin de laisser notre intuition s’exprimer.
    //    cite - Nathalie Tremblay, Chef principale Innovation, Lise Watier
    div.testimonial-slider
        div.testimonial-dots
            button.testimonial-dot.active(type='button' data-index="0")
            button.testimonial-dot(type='button' data-index="1")
            button.testimonial-dot(type='button' data-index="2")
        div.testimonial.active
            p
                q.testimonial-message L'effet Wonderflow, une activité créative pour s'arrêter, faire le point et avancer.
            p
                cite.testimonial-title - Annie Gloutney, Directrice adjointe, Ecole Léonard-De Vinci et annexe
        div.testimonial
            p
                q.testimonial-message Wonderflow, c’est sortir de sa zone de confort dans un cadre bienveillant.
            p
                cite.testimonial-title - Manjiri Adkar, Strategic procurement manager, Dermtek
        div.testimonial
            p
                q.testimonial-message Cet atelier était dynamique et diversifié. L’association des mouvements de Tai-chi à la peinture est original et j'ai beaucoup aimé le recours à ces deux "outils" afin de laisser notre intuition s’exprimer.
            p
                cite.testimonial-title - Nathalie Tremblay, Chef principale Innovation, Lise Watier
button(type='button' hx-target="main" hx-get="/content_workshops" hx-push-url='/workshops' hx-swap='show:window:top').mt-2
    | Découvrez nos ateliers
    <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>
        // Path: src/views/approach.pug