div.container.mt-3
    h1 Contact
    form(hx-post='/contact' hx-target='main' hx-swap='outerHTML')
        label.mt-1(for='name') Nom:
        input#name.form-control(type='text' name='name' placeholder='Votre nom')
        label.mt-1(for='email') Courriel:
        input#email.form-control(type='email' name='email' placeholder='Votre courriel')
        label.mt-1(for='message') Question ou commentaire:
        textarea#message.form-control(name='message' rows='5' placeholder='Vos questions ou commentaire')
        button.btn.btn-primary(type='submit') Envoyer
// Path: src/views/contact.pug