div.daily
    div#hero
        div.hero-titles
            h1.hero-h1 "Créativité au quotidien"
            h2.hero-h2 17 Novembre 2023
            h2.hero-h2 Comment se (re)connecter à sa pensée créative et en faire un atout professionnel au quotidien
    div.wave
        img(src='img/svg/wave.svg' width='100%' height='100%' class='down2px' alt='' aria-hidden='true')
div.mt-3.container
    ul.list.yellow-list.mt-3
        li.scale.transition Vous souhaitez penser de manière plus originale?
        li.scale.transition Vous aimeriez résoudre les problèmes plus efficacement?
        li.scale.transition Vous aimeriez renforcer votre posture créative ou même juste avoir confiance en votre créativité?

    h2.mt-3 Cet atelier est pour vous...
    p Que vous soyez en marketing, communication ou tout autre autre fonction. Pour tout gestionnaire ou leader qui souhaite arriver avec de nouvelles idées, développer sa capacité d'adaption, accompagner les transformations de manière efficace et sereine.
    p Les entrepreneurs pourront aussi en tirer avantage.

    h2.mt-3 Qu’apprend-on?

    ul.list.yellow-list.mt-3
        li.scale.transition Cerner les mythes et les réalités du processus créatif et dépasser ses blocages
        li.scale.transition Renforcer votre pensée créative en alliant intuition et réflexion
        li.scale.transition Stimuler votre imagination en renforçant votre écoute intérieure
        li.scale.transition Développer un état d’esprit agile, résilient, pour répondre aux enjeux auxquels vous êtes confrontés
        li.scale.transition Établir un plan d’action pour nourrir votre créativité au quotidien en lien avec vos défis professionnels

    h2.mt-3 Comment ?
    p Grâce à une approche pédagogique qui alterne des temps de théorie, de retour sur soi et d’échange autour d’expériences qui stimulent les facteurs de la créativité tel que l’imagination, la curiosité, et l'exploration.

div.full-width.mt-3
    div.wave
        img(src='img/svg/curve_up_yellow.svg' width='100%' height='100%' alt='' aria-hidden='true')
div.full-width.yellow-background
    div.container
        h2 Pourquoi participer ?
        ul.list.white-list.mt-3
            li.scale.transition Exploiter pleinement sa capacité de réflexion au travail et au-delà grâce à la créativité
            li.scale.transition Mieux comprendre le processus de création et comment l’appliquer
            li.scale.transition Expérimenter des techniques et outils innovants
            li.scale.transition Faire un point sur ses ressources créatives et les enrichir
            li.scale.transition S'autoriser un moment de pause, de réflexion
        p Le contenu sera présenté de façon dynamique et interactive où l’exploration d’outils de créativité en direct mènera les participants à sortir de leur zone de confort  de façon ludique tout en leur permettant d’acquérir des outils pour continuer à développer leur créativité au quotidien.
        img(src='/img/webp/space.webp', alt='lieu' width='100%').rounded-corner.mt-3
        h2 Aucun pré-requis!
        p Juste arriver avec un esprit ouvert, dans des vêtements confortables.
        p L’atmosphère est joyeuse et favorise la connexion avec soi-même, dans le non jugement. Un maximum de 12 participants issus de diverses entreprises.
        div.mt-1
            button#download.scale.hover-white.mb-2 Téléchargez le programme de l'atelier
div.full-width
    div.wave
        img(src='img/svg/curve_down_yellow.svg' width='100%' height='100%' alt='' aria-hidden='true')
//div.full-width
//    div.container.center
//        div.mt-3
//            button.big-scale.mb-2(hx-target="main" hx-get="/content_inscription" hx-push-url='/inscription' hx-swap='show:window:top') Inscription
script(type='text/javascript', src='js/download.js')
// Path: views/daily.pug