div#footer-wave.mt-2
    <svg width="100%" height="100%" viewBox="0 0 960 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"><path d="M-6.926,-1.393c21.656,14.273 45.793,78.407 118.693,25.659c46.066,-33.333 76.25,32.503 187.367,-4.745c79.775,-26.742 71.151,40.37 113.955,30.927c88.815,-19.592 5.437,-66.389 -5.46,-26.829c-6.998,25.408 70.609,42.588 197.474,3.875c57.188,-17.451 128.66,15.569 169.786,6.009c60.954,-14.169 131.608,-21.82 201.65,32.87" style="fill:none;stroke:#333333;"/></svg>

div.footer-elements.mt-2
    div.social-icons
        a(href='https://www.instagram.com/wonderflow.ca/', target='_blank')
            img(src='/img/svg/instagram.svg', alt='instagram' style='width: 8vw; max-width: 48px; height: auto;').big-scale.transition
        a(href='https://www.linkedin.com/company/wonderflow-ca/', target='_blank')
            img(src='/img/svg/linkedin.svg', alt='linkedin' style='width: 8vw; max-width: 48px; height: auto;').big-scale.transition

    img(src='/img/svg/logo.svg', alt='logo' style='width: 30vw; max-width: 180px; height: auto;').scale.transition

    div#newsletter
        if !isSubscribed
            include newsletter-form
    div
        p.bold Contact
        div.mt-1
            a(href='mailto:info@wonderflow.ca').big-scale.transition info@wonderflow.ca
        div.mt-1
            a(hx-target="main" hx-get="/content_policy" hx-swap='show:window:top' hx-push-url='/policy' href='/policy').big-scale.transition Politique de confidentialité

    div.center.mb-1
        p.inline
            | &copy;&nbsp;
            span#year
            | &nbsp;Wonderflow. Tous droits réservés.
// Path: src/views/footer.pug