nav
    ul
        li
            img(src='/img/svgFolder/wonderflow.svg' alt='logo' width='160px')
        li
            a(href='/' hx-boost="true" hx-target="main") Accueil
        li
            a(href='/approach' hx-boost="true" hx-target="main") Notre Approche
        li
            a(href='/workshops' hx-boost="true" hx-target="main") Nos Ateliers
        li
            a(href='/about' hx-boost="true" hx-target="main") À propos
        li
            a(href='/contact' hx-boost="true" hx-target="main") Contact
        //li
        //    a(href='/blog' hx-boost="true") Blog

// Path: src/views/header.pug