nav
    ul
        li
            img(src='/img/svgFolder/wonderflow.svg' alt='logo' width='160px')
        li
            a(hx-target="main" hx-get="/content_index" hx-swap='show:window:top' hx-push-url='/' href='/') Accueil
        li
            a(hx-target="main" hx-get="/content_approach" hx-push-url='/approach' href='/approach' hx-swap='show:window:top') Notre Approche
        li
            a(hx-target="main" hx-get="/content_workshops" hx-push-url='/workshops' href='/workshops' hx-swap='show:window:top') Nos Ateliers
        li
            a(hx-target="main" hx-get="/content_about" hx-push-url='/about' href='/about' hx-swap='show:window:top') À propos
        li
            a(hx-target="main" hx-get="/content_contact" hx-push-url='/contact' href='/contact' hx-swap='show:window:top') Contact
        //li
        //    a(href='/blog' hx-boost="true") Blog

// Path: src/views/header.pug