div#hamburger
    div
    div
    div

div.menu
    img(src='/img/svg/wonderflow.svg' alt='logo' width='160px' hx-target="main" hx-get="/content_index" hx-swap='show:window:top' hx-push-url='/' href='/')

    nav.navigation
        ul
            li.big-scale.transition
                a(hx-target="main" hx-get="/content_index" hx-swap='show:window:top' hx-push-url='/' href='/') Accueil
            li.big-scale.transition
                a(hx-target="main" hx-get="/content_approach" hx-push-url='/approach' hx-swap='show:window:top' href='/approach') Notre Approche
            li.big-scale.transition
                a(hx-target="main" hx-get="/content_workshops" hx-push-url='/workshops' hx-swap='show:window:top' href='/workshops') Nos Ateliers
            li.big-scale.transition
                a(hx-target="main" hx-get="/content_about" hx-push-url='/about' hx-swap='show:window:top' href='/about') À propos
            li.big-scale.transition
                a(hx-target="main" hx-get="/content_contact" hx-push-url='/contact' hx-swap='show:window:top' href='/contact') Contact
            li.big-scale.transition
                button(hx-target="main" hx-get="/content_inscription" hx-push-url='/inscription' hx-swap='show:window:top' href='/inscription') Inscription
// Path: src/views/header.pug