title Wonderflow
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name="robots", content="index, follow")
meta(name="googlebot", content="index, follow")
meta(name="description", content="Des ateliers ludiques et originaux pour renforcer votre posture créative dans votre milieu professionnel")
meta(name="keywords", content="Ateliers créatifs, Atelier, Développement personnel, Développement professionnel, Atelier en ligne, Tai-chi Qigong, Écoute Intérieure, Formation professionnelle, Développement personnel, Atelier créatif Montréal, Formation en ligne")
meta(name="author", content="Vanessa Gerold")
meta(property="og:title", content="Ateliers professionels - Créativité")
meta(property="og:url", content="https://wonderflow.ca/")
meta(property="og:image", content="https://wonderflow.ca/img/jpg/wonderflow.jpg")
meta(property="og:description", content="Des ateliers ludiques et originaux pour renforcer votre posture créative dans votre milieu professionnel.")
meta(property="og:site_name", content="Wonderflow")
meta(property="og:locale", content="fr_CA")
meta(property="og:type", content="website")
meta(property="og:see_also", content="https://wonderflow.ca/")
link(rel='stylesheet', href='./css/mini_styles.css')
script(defer src='./js/htmx.min.js')
script(defer src='./js/scripts.js')
// Path: src/views/head.pug