div.hero-container
    div#hero
        img#hero-logo(src='img/svg/logo.svg')
        div.hero-titles
            h1.hero-h1 Respirer. Écouter. Créer.
            h2.hero-h2 Faites une pause Wonderflow pour vous (re)connecter à votre créativité
    div.wave
        img(src='img/svg/wave.svg')
div.mt-3.container
    p Notre environnement de travail est en pleine mutation avec une demande croissante en agilité et résilience. La technologie est par ailleurs omniprésente et malgré tous ses avantages, elle peut être oppressante. Ces intrusions incessantes étouffent la conscience et bloquent le flow de la créativité.
    p.bold La reconnexion à soi est essentielle. Elle favorise la créativité, véritable clé de survie dans notre monde moderne. Le Forum économique mondial l'a d'ailleurs classée parmi les compétences les plus recherchées.

    h2.mt-3 Wonderflow c'est quoi?
        p Des ateliers ludiques et originaux pour renforcer votre posture créative dans votre milieu professionnel.
        p L’approche s'appuie sur la connaissance des besoins actuels de l'entreprise, les découvertes de la neuroscience et des techniques de créativité éprouvées depuis des siècles.

    button(type='button' hx-target="main" hx-get="/content_workshops" hx-push-url='/workshops.json' hx-swap='show:window:top').scale.transition.mt-1
        | Découvrez nos ateliers
        <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>

    h2.mt-3 Pour qui ?
    p Tout gestionnaire ou leader qui souhaite arriver avec de nouvelles idées, développer sa capacité d'adaptation, accompagner les transformations de manière efficace et sereine.

    div.flex-row.mt-1
        div.thought-container.scale.transition
            p.bubble03 Comment renforcer ma confiance créative?
            div.bubble02
            div.bubble01
            img(src='/img/webp/question_01_600px.webp', alt='qui').yellow-background.disk
        div.thought-container.scale.transition
            p.bubble03 Comment trouver des idées ou des solutions inédites?
            div.bubble02
            div.bubble01
            img(src='/img/webp/question_02_600px.webp', alt='qui').yellow-background.disk
        div.thought-container.scale.transition
            p.bubble03 Comment prendre du recul, voir clairement la situation?
            div.bubble02
            div.bubble01
            img(src='/img/webp/question_03_600px.webp', alt='qui').yellow-background.disk

    h2.mt-3 Pourquoi participer?
    ul.list.yellow-list.mt-2
        li.scale.transition Faire un point sur ses ressources créatives et les enrichir
        li.scale.transition Apprendre des stratégies pour faire émerger de nouvelles idées et des solutions à vos problématiques
        li.scale.transition Repartir avec des outils pour faire de sa créativité un état d’esprit quotidien

div.container
    h2.mt-3 Témoignages
    div.scale.transition
        q.mt-2 L'effet Wonderflow, une activité créative pour s'arrêter, faire le point et avancer.
        cite - Annie Gloutney, Directrice adjointe, Ecole Léonard-De Vinci et annexe
    div.scale.transition
        q.mt-2 Wonderflow, c’est sortir de sa zone de confort dans un cadre bienveillant
        cite - Manjiri Adkar, Strategic procurement manager, Dermtek
    div.scale.transition
        q.mt-2 Cet atelier était dynamique et diversifié. L’association des mouvements de Taichi à la peinture est original et j'ai beaucoup aimé le recours à ces deux "outils" afin de laisser notre intuition s’exprimer.
        cite - Nathalie Tremblay, Chef principale Innovation, Lise Watier
// Path: views/index.pug

    ul.list.yellow-list.mt-2
        li.scale.transition Vous souhaitez penser de manière plus originale?
        li.scale.transition Vous aimeriez résoudre les problèmes plus efficacement?
        li.scale.transition Vous aimeriez renforcer votre posture créature ou même juste avoir confiance en votre créativité?
        li.scale.transition Vous avez envie de vous accomplir dans votre emploi en libérant votre créativité?

button(type='button' hx-target="main" hx-get="/content_workshops" hx-push-url='/workshops.json' hx-swap='show:window:top').scale.transition.mt-1
        | Découvrez nos ateliers
        <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>