doctype html
html(lang=locale)
  head
    include head
  body
    header
      if locale === 'fr-ca'
        include fr-ca/header
      else if locale === 'en-ca'
        include en-ca/header
    main
      if locale === 'fr-ca'
        if content === 'about'
          include fr-ca/about
        else if content === 'approach'
          include fr-ca/approach
        else if content === 'contact'
          include fr-ca/contact
        else if content === 'contact-thanks'
          include fr-ca/contact-thanks
        else if content === 'policy'
          include fr-ca/policy
        else if content === 'workshops'
          include fr-ca/workshops
        else if content === 'error'
          include fr-ca/error
        else
          include fr-ca/index
      else if locale === 'en-ca'
        if content === 'about'
          include en-ca/about
        else if content === 'approach'
          include en-ca/approach
        else if content === 'contact'
          include en-ca/contact
        else if content === 'contact-thanks'
          include en-ca/contact-thanks
        else if content === 'policy'
          include en-ca/policy
        else if content === 'workshops'
          include en-ca/workshops
        else if content === 'error'
          include en-ca/error
        else
          include en-ca/index
    div.cursor-circle
    footer
      if locale === 'fr-ca'
        include fr-ca/footer
      else if locale === 'en-ca'
        include en-ca/footer
    script(defer src='/js/htmx.min.js')
    if process.env.NODE_ENV === 'production'
      script(defer type="module" src='/js/scripts.min.js')
    else
      script(defer type="module" src='/js/scripts.js')
    script(src="/js/lazy-cookieconsent.js")
    if process.env.NODE_ENV !== 'production'
      script(async src='http://localhost:35729/livereload.js')