doctype html
html(lang='en')
    head
        include head.pug
    body
        header
            include header.pug
        main
            block content
        footer
            include footer.pug
// Path: views/layout.pug