p.bold.block Inscrivez-vous à l’infolettre
p Je désire recevoir des informations sur les ateliers à venir, des astuces pour cultiver ma créativité…
div.mt-1
    label(for='email') Courriel:
    input(id='email' name='email' type='email', placeholder='mon@courriel.ca')
    button(hx-post='/newsletter' hx-target='#newsletter' hx-include='#email').mt-1 S'inscrire