//extends layout

block content
    h1 Politique de confidentialité
    h2 1. Portée de la présente politique de confidentialité
    p «Wonderflow» attache une grande importance à la confidentialité de vos renseignements personnels. Le but de cette politique est d’expliquer la façon dont nous recueillons, utilisons et communiquons les renseignements personnels que vous pourriez nous fournir ou que nous pourrions autrement détenir à votre sujet et vise à se conformer à la loi fédérale canadienne et aux lois provinciales en matière de protection des renseignements personnels.

    h2 2. Acceptation
    p En utilisant ce site Web, vous signifiez votre acceptation de la présente politique. De même, en nous soumettant vos renseignements personnels, vous acceptez également qu’ils soient régis par cette politique.
    p Veuillez noter que la présente politique ne s’applique qu’à nos sites Web et non aux sites Web d’autres sociétés ou organismes auxquels nos sites peuvent être liés. Wonderflow n’endosse pas et n’est pas responsable de ces sites Web liés.
    p Votre consentement peut être retiré en tout temps, sous réserves des restrictions légales et contractuelles et d’un préavis raisonnable. Veuillez noter que si vous choisissez de retirer votre consentement, Wonderflow pourrait ne pas être en mesure de vous fournir certains services.

    h2 3. Modifications de la politique
    p Nous nous réservons le droit de modifier cette politique en tout temps en affichant les conditions modifiées sur notre site Web. Nous vous prions donc de consulter cette politique sur une base régulière.

    h2 4. Collecte de vos renseignements personnels
    p Wonderflow recueille uniquement les renseignements que vous avez consenti à nous fournir. Nous ne vendons, louons, ni ne partageons les renseignements vous concernant autrement que de la manière décrite ci-après.
    p Wonderflow limite la collecte de vos renseignements personnels à ce qui est nécessaire aux fins de l’établissement, de la gestion et du maintien de notre relation avec vous. Par exemple, des renseignements personnels pourraient être recueillis au moment de votre enregistrement, de votre abonnement pour recevoir notre infolettre ou nos alertes, ou de la soumission de questions, commentaires ou suggestions, et pourraient inclure, sans s’y limiter, des renseignements d’identification comme votre prénom et votre nom de famille, votre sexe, votre date de naissance, votre adresse domiciliaire, votre numéro de téléphone, votre adresse courriel, de même que certaines informations professionnelles, comme votre emploi actuel et votre secteur d’activité.
    p De façon générale, nous recueillons ces renseignements personnels auprès de vous directement. Cependant, nous pourrions également recueillir des renseignements vous concernant de sources externes avec votre consentement ou, lorsque la loi le permet, sans votre consentement.

    h2 5. Témoins (cookies)
    p Votre utilisation de ce site Web permet à Wonderflow de compiler automatiquement certains renseignements concernant votre profil d’utilisateur, ce qui peut inclure l’adresse de protocole Internet (ou adresse IP) de votre ordinateur, le système d’exploitation que vous utilisez, l’identité de votre fournisseur de services Internet, la date et l’heure à laquelle vous avez accédé au présent site Web, le site Web précédent que vous avez visité et qui vous a fourni un lien à notre site Web, ainsi que le contenu visionné et téléchargé sur notre site.
    p Pour ce faire, notre site Web, comme la plupart des sites Web, utilise des témoins (ou cookies) qui sont enregistrés sur votre ordinateur lorsque vous le visitez. Nous utilisons ces renseignements pour adapter notre site Web à vos préférences, incluant les publicités affichées, et pour compiler des statistiques au sujet de la consultation et de l’utilisation de son site Web afin de l’améliorer.
    p Comme avec la plupart des navigateurs Internet, il est possible d’effacer les témoins du lecteur de disque dur de votre ordinateur, de bloquer la création de témoins ou de recevoir un avertissement avant qu’un témoin ne soit enregistré. Ce faisant, votre usage de notre site Web peut toutefois être affecté et il se peut que vous n’ayez alors plus accès à toutes ses fonctions. Nous vous invitons à consulter les sites Ads Setting et Network Advertising Initiative ainsi que les instructions ou la section d’aide de votre navigateur pour plus d’<informations>

    h2 6. Utilisation de vos renseignements personnels
    p Wonderflow pourrait utiliser vos renseignements personnels aux fins suivantes :
    p afin de vous identifier comme utilisateur de notre site Web et comme client, le cas échéant; afin d’établir et de maintenir notre relation d’affaires avec vous; afin de vous fournir des services de façon continue; afin d’améliorer notre offre de produits et services, y compris l’utilisation de ce site Web; afin de communiquer avec vous lorsque vous nous soumettez des questions, commentaires ou suggestions; afin de vous fournir de l’information concernant nos activités, produits et services susceptible de vous intéresser; afin de prévenir les erreurs et la fraude; et afin de nous conformer à nos obligations légales.Wonderflow pourrait également utiliser vos renseignements personnels afin de compiler des statistiques. Cependant, ces statistiques ne permettront pas de vous identifier.
    p Vos renseignements personnels ne seront pas utilisés à d’autres fins que celles décrites plus haut à moins d’obtenir votre consentement ou dans la mesure permise ou exigée par la loi.

    h2 7. Communication de vos renseignements personnels
    p Wonderflow reconnaît que, sauf dans les cas et les conditions énoncés ci-après, la communication de vos renseignements personnels à une tierce partie requiert votre consentement.
    p L’accès à ces renseignements au sein de Wonderflow ne requiert pas votre consentement, mais se limite strictement aux personnes pour lesquelles ces renseignements sont nécessaires à l’exercice de leurs fonctions et tâches.
    p Wonderflow pourrait aussi partager des renseignements vous concernant, sans votre consentement, avec des agents, mandataires, consultants, processeurs de données, fournisseurs de services et d’autres parties pour qui cela est nécessaire dans le cadre des activités de Wonderflow ou pour aider Wonderflow dans l’administration de notre relation d’affaires (aide aux promotions, fourniture de soutien technique, etc.).
    p Wonderflow pourrait aussi, sans votre consentement, communiquer des renseignements vous concernant contenus dans un dossier qu’elle détient sur vous, tel qu’autorisé ou requis par la loi.
    p Dans chaque situation où Wonderflow pourrait communiquer vos renseignements personnels, la société s’efforcera de ne pas communiquer plus de renseignements personnels que ce qui est nécessaire dans les circonstances.
    p Veuillez prendre note que dans l’éventualité où la tierce partie à qui Wonderflow communique des renseignements vous concernant est établie dans un pays étranger, les lois locales pourraient autrement permettre l’accès à vos renseignements personnels par des tierces parties sans votre consentement.

    h2 8. Mesures de sécurité
    p Wonderflow applique des mesures de sécurité raisonnables selon la sensibilité des renseignements que nous détenons. Ces mesures visent à protéger vos renseignements personnels contre la perte ou le vol, et contre toute consultation, communication, reproduction, utilisation ou modification non autorisées.
    p Nous prenons aussi des mesures raisonnables afin de nous assurer que les renseignements personnels que nous avons recueillis sont exacts et complets. Cependant, il vous incombe de nous informer de tout changement à vos renseignements personnels.

    h2 9. Questions et requêtes
    p Toute question ou préoccupation à l’égard de la présente Politique ou relativement à la collecte, l’utilisation et la communication de vos renseignements personnels, y compris les demandes d’accès ou de rectification, doivent être transmises par écrit via courriel à : info@wonderflow.ca
    p Vous avez le droit de consulter et d’obtenir communication des renseignements vous concernant contenus dans un dossier détenu par Wonderflow. Vous pouvez également demander de faire rectifier les renseignements inexacts, incomplets ou équivoques, et de faire supprimer les renseignements qui ne seraient pas justifiés au regard de l’objectif poursuivi par le dossier.
    p Wonderflow répondra à chaque demande d’accès et de rectification dans les 30 jours suivant la réception de la demande écrite. Dans l’éventualité où Wonderflow ne pourrait vous donner accès à vos renseignements personnels ou les rectifier, elle vous communiquera les raisons de cet empêchement et vous informera des recours possibles.

    // Path: src/views/policy.pug