div.mt-5.container
    h1 Nos Ateliers

div.full-width.mt-3
    div.wave
        img(src='img/svg/curve_up_yellow.svg' width='100%' height='100%')
div.full-width.yellow-background
    div.container
        h2.mt-2 Les atouts Wonderflow
        div.z1.scale.transition
            h3.mt-2 UNE EXPÉRIENCE HOLISTIQUE ET LUDIQUE
            p.white-dot Qui fait appel au mental mais aussi au corps et à l’émotionnel pour ressentir sa créativité et renforcer sa confiance créative. Tout cela dans la joie et la bonne humeur!
        div.z1.scale.transition
            h3.mt-2 TOURNÉS VERS L’ACTION POUR DES RÉSULTATS
            p.white-dot Vous repartez avec votre propre plan d’action pour installer la créativité dans votre quotidien professionnel.
        div.z1.scale.transition
            h3.mt-2 UN ACCOMPAGNEMENT POST-ATELIER POUR UN EFFET DURABLE
            p.white-dot Après l’atelier, un suivi en groupe ( 2 x 90 min en ligne ) est assuré pour vous accompagner face aux défis possibles que vous rencontrez et vous encourager dans la mise en place de votre plan d’action.
div.full-width.yellow-background.pt-3
    div.wave
        img(src='img/svg/curve_up_white.svg' width='100%' height='100%')

div.full-width
    div.container
        div.flex-row.mb-3
            div.card.scale.transition
                h3.mt-3 Atelier "Créativité au quotidien"
                p Vous souhaitez savoir comment changer de perspective pour arriver avec de nouvelles idées?
                img(src='/img/webp/daily_creativity.webp', alt='créativité au quotidien').rounded-corner.mt-1
                button(type='button' hx-target="main" hx-get="/content_daily" hx-push-url='/daily' hx-swap='show:window:top').mt-2.big-scale.transition En savoir plus
            div.flex-row.mb-3
            div.card.scale.transition
                h3.mt-3 Atelier sur-mesure
                p.invisible Vous souhaitez savoir comment changer de perspective pour arriver avec de nouvelles idées?
                img(src='/img/webp/space_640.webp', alt='créativité au quotidien').rounded-corner.mt-1
                button(type='button' hx-target="main" hx-get="/content_contact" hx-push-url='/contact' hx-swap='show:window:top').mt-2.big-scale.transition Contactez-nous
// Path: src/views/workshops.pug


