div.mt-3.container
    h1 Nos Ateliers

    h2 Pour qui ?
    p Tout gestionnaire ou leader qui souhaite arriver avec de nouvelles idées, développer sa capacité d'adaptation, accompagner les transformations de manière efficace et sereine.

    h2 Pourquoi participer ?
    p Exploiter pleinement sa capacité de réflexion au travail et au-delà grâce à la créativité
    p Mieux comprendre le processus de création et comment l’appliquer
    p Expérimenter des techniques et outils innovants
    p Faire un point sur ses ressources créatives et les enrichir
    p S'autoriser un moment de pause, de réflexion

    h3.mt-3 Créativité au quotidien
    p Vous souhaitez savoir comment changer de perspective pour arriver avec de nouvelles idées?
    img(src='/img/svgFolder/quotidien.svg', alt='quotidien')
    button(type='button') En savoir plus

    //h3.mt-3 Créativité et courage
    //p Oser la créativité en période d'incertitude.
    //p Vous souhaitez savoir comment changer de perspective pour arriver avec de nouvelles idées?
    //img(src='/img/svgFolder/courage.svg', alt='courage')
    //button(type='button') En savoir plus

    h3.mt-3 Atelier sur mesure
    p Reconcilier la tête et le cœur.
    p Vous souhaitez savoir comment changer de perspective pour arriver avec de nouvelles idées?
    img(src='/img/svgFolder/mesure.svg', alt='mesure')
    button(type='button') En savoir plus

// Path: src/views/workshops.pug