/* woff */
@font-face {
    font-family : "rRegular";
    src         : url("../woff/rRegular.woff") format("woff");
    font-weight : normal;
    font-style  : normal;
}

@font-face {
    font-family : "rBold";
    src         : url("../woff/rBold.woff") format("woff");
    font-weight : bold;
    font-style  : normal;
}

@font-face {
    font-family : "rItalic";
    src         : url("../woff/rItalic.woff") format("woff");
    font-weight : normal;
    font-style  : italic;
}

@font-face {
    font-family : "rBoldItalic";
    src         : url("../woff/rBoldItalic.woff") format("woff");
    font-weight : bold;
    font-style  : italic;
}

/* colors and artwork */
:root {
    --black        : #333333;
    --grey         : #CCCCCC;
    --light-grey   : #ececec;
    --stroke       : 1px;
    --translucent  : #FFFB;
    --white        : #FFFFFF;
    --yellow       : #FFF590;
    --black-border : var(--stroke) solid var(--black);
    --font-family  : rRegular, Arial;

    /* Cookies consent styles */
    --cc-bg: #ffffff;
    --cc-primary-color: #2c2f31;
    --cc-secondary-color: #5e6266;

    --cc-font-family: var(--font-family), sans-serif;

    --cc-btn-border-radius: 1.5rem;

    --cc-btn-primary-bg: #30363c;
    --cc-btn-primary-color: #ffffff;
    --cc-btn-primary-border-color: var(--cc-btn-primary-bg);
    --cc-btn-primary-hover-bg: #000000;
    --cc-btn-primary-hover-color: #ffffff;
    --cc-btn-primary-hover-border-color: var(--cc-btn-primary-hover-bg);

    --cc-btn-secondary-bg: #eaeff2;
    --cc-btn-secondary-color: var(--cc-primary-color);
    --cc-btn-secondary-border-color: var(--cc-btn-secondary-bg);
    --cc-btn-secondary-hover-bg: #d4dae0;
    --cc-btn-secondary-hover-color: #000000;
    --cc-btn-secondary-hover-border-color: #d4dae0;

    --cc-separator-border-color: #f0f4f7;

    --cc-toggle-on-bg: var(--cc-btn-primary-bg);
    --cc-toggle-off-bg: #667481;
    --cc-toggle-on-knob-bg: #ffffff;
    --cc-toggle-off-knob-bg: var(--cc-toggle-on-knob-bg);

    --cc-toggle-enabled-icon-color: var(--cc-bg);
    --cc-toggle-disabled-icon-color: var(--cc-bg);

    --cc-toggle-readonly-bg: #d5dee2;
    --cc-toggle-readonly-knob-bg: #fff;
    --cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);

    --cc-section-category-border: var(--cc-cookie-category-block-bg);

    --cc-cookie-category-block-bg: #f0f4f7;
    --cc-cookie-category-block-border: #f0f4f7;
    --cc-cookie-category-block-hover-bg: #e9eff4;
    --cc-cookie-category-block-hover-border: #e9eff4;
    --cc-cookie-category-expanded-block-bg: transparent;
    --cc-cookie-category-expanded-block-hover-bg: #dee4e9;

    --cc-overlay-bg: rgba(0, 0, 0, 0.65);
    --cc-webkit-scrollbar-bg: var(--cc-section-category-border);
    --cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-hover-bg);

    --cc-footer-bg: var(--cc-btn-secondary-bg);
    --cc-footer-color: var(--cc-secondary-color);
    --cc-footer-border-color: #e4eaed;
}


.yellow-background {
    background-color : var(--yellow);
}

/* margins */
.mt-0 {
    margin-top : 0;
}

.mt-1 {
    margin-top : 1rem;
}

.mt-2 {
    margin-top : 2rem;
}

.mt-3 {
    margin-top : 3rem;
}

.mt-5 {
    margin-top : 5rem;
}

.mb-1 {
    margin-bottom : 1rem;
}

.mb-2 {
    margin-bottom : 2rem;
}

.mb-3 {
    margin-bottom : 3rem;
}

/* paddings */
.pt-3 {
    padding-top : 3rem;
}

/* defaults & resets */
* {
    box-sizing  : border-box;
    color       : var(--black);
    font-family : var(--font-family), serif;
    font-size   : 1rem;
    font-style  : normal;
    font-weight : normal;
    line-height : 1.5;
    margin      : 0;
    padding     : 0;
}

strong {
    font-family: rBold, sans-serif;
    font-weight : bolder;
}

body {
    background-color : var(--white);
    display          : flex;
    flex-direction   : column;
    height           : 100vh;
    justify-content  : space-between;
}

main {
    align-items    : center;
    display        : flex;
    flex-direction : column;
}

.container {
    max-width : 60rem;
    width     : 90%;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    font-family : rBold, Arial, sans-serif;
    font-style  : normal;
    font-weight : bold;
    transition  : 1s ease;
}

h1 {
    font-size  : 2rem;
    margin-top : 1rem;
}

h2 {
    font-size  : 1.5rem;
    margin-top : 1rem;
}

h3 {
    font-size  : 1.25rem;
    margin-top : 1rem;
}

h4 {
    font-size  : 1rem;
    margin-top : 1rem;
}

p, q, label {
    display    : inline-block;
    font-style : normal;
    margin-top : 1rem;
    padding    : 0;
}

p, q {
    font-style : normal;
}

label {
    font-family : rBold, "Arial Black", sans-serif;
}

cite {
    display     : inline-block;
    font-family : rBold, Arial, sans-serif;
    font-style  : normal;
    /*margin-left : 2rem;*/
}

.bold {
    font-family : rBold, Arial, sans-serif;
    font-style  : normal;
    font-weight : bold;
}

.inline {
    display : inline;
}

.block {
    display : block;
}

ul {
    list-style : none;
    position   : relative;
}

ul.list li {
    margin-bottom : 2.5rem;
    margin-top    : 1rem;
    padding-left  : 1.2rem;
    position      : relative;
}

ul.list li:last-child {
    margin-bottom : 0;
}

ul.yellow-list li::before {
    content  : url("../img/svg/yellow-dot.svg");
    height   : 40px;
    left     : 0;
    position : absolute;
    top      : -1rem;
    width    : 40px;
    z-index  : -1;
}

ul.white-list li {
    position : relative;
    z-index  : 0;
}

ul.white-list li::before {
    content  : url("../img/svg/white-dot.svg");
    height   : 40px;
    left     : 0;
    position : absolute;
    top      : -1rem;
    width    : 40px;
    z-index  : -1; /* pushes it back */
}

.white-dot::before {
    content  : url("../img/svg/white-dot.svg");
    left     : -2.5rem;
    position : absolute;
    top      : -1rem;
    width    : 4rem;
    z-index  : -1;
}

.yellow-dot::before {
    content  : url("../img/svg/yellow-dot.svg");
    left     : -2.5rem;
    position : absolute;
    top      : -1rem;
    width    : 4rem;
    z-index  : -1;
}

/* images */
.rounded-corner {
    /*border        : var(--black-border);*/
    border-radius : 1rem;
}

.thought-container {
    display        : grid;
    flex-direction : column;
    gap            : .5rem;
    grid           : repeat(6, auto) / repeat(2, 1fr);
    margin         : 0;
    padding        : 0;
}

.disk {
    border        : var(--black-border);
    border-radius : 50%;
    grid-area     : 4 / 1 / 9 / 3;
    width         : 100%;
    z-index       : 0;
}

.bubble03, .bubble02, .bubble01 {
    background-color : var(--white);
    border           : var(--black-border);
    border-radius    : 12px;
    filter           : drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.25));
    height           : auto;
    will-change      : transform;
}

.bubble03 {
    grid-area : 1 / 1 / 3 / 3;
    margin    : 0;
    padding   : 1rem;
    top       : 3rem;
    width     : 100%;
    z-index   : 3;
}

.bubble02 {
    grid-area    : 3 / 1 / 7 / 2;
    justify-self : end;
    margin       : 0;
    padding      : .5rem;
    width        : 50%;
    z-index      : 2;
}

.bubble01 {
    grid-area    : 7 / 1 / 8 / 2;
    justify-self : end;
    margin       : 0;
    padding      : .5rem;
    width        : 5%;
    z-index      : 1;
}

/* behaviors */
.no-transition {
    transition : none;
}

/* header */
header {
    /*-webkit-backdrop-filter : blur(4px);*/
    /*backdrop-filter         : blur(4px);*/
    background              : var(--white);
    border-bottom           : solid var(--stroke) var(--light-grey);
    display                 : flex;
    flex-direction          : row;
    height                  : 60px;
    justify-content         : center;
    position                : fixed;
    width                   : 100%;
    z-index                 : 15;
}

.menu {
    align-items     : center;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    max-width       : 1320px;
    padding         : 0 16px;
    position        : relative;
    width           : 100%;
}

.menu > img {
    cursor  : pointer;
    z-index : 20;
}

.menu > img {
    cursor  : pointer;
    z-index : 20;
}

.menu .logo-circle {
    background-color : var(--yellow);
    border-radius    : 100%;
    display          : inline-block;
    height           : 32px;
    left             : 8px;
    position         : absolute;
    top              : 50%;
    transform        : translateY(-50%);
    width            : 32px;
}

nav > ul > li {
    display     : inline-block;
    margin-left : 32px;
}

nav > ul > li > a {
    cursor          : pointer;
    font-family     : rBold, Arial, sans-serif;
    text-decoration : none;
}

nav > ul > li > button {
    background : none;
    color      : var(--black);
    padding    : .4rem 1rem;
}

nav > ul > li > button:hover {
    background : var(--black);
    color      : var(--white);
}

/* navigation for smaller devices */
@media (max-width : 960px) {
    #hamburger {
        cursor          : pointer;
        display         : flex;
        flex-direction  : column;
        height          : 24px;
        justify-content : space-between;
        position        : absolute;
        right           : 5vw;
        top             : 15px;
        z-index         : 20;
    }

    #hamburger, #hamburger > div {
        transition : transform .5s ease;
    }

    #hamburger.close {
        transform : rotate(-315deg) translate(0, -4px);
    }

    #hamburger > div {
        background-color : var(--black);
        border-radius    : 2px;
        height           : 3px;
        width            : 28px;
    }

    #hamburger.close div:nth-child(1) {
        transform : rotate(90deg) translateX(16px) scaleX(1.2);
    }

    #hamburger.close div:nth-child(2) {
        transform : translate(0px, 6px) scaleX(1.2)
    }

    #hamburger.close div:nth-child(3) {
        transform : translateY(-5px) scaleX(1.2);
    }

    .navigation:not(.no-transition) {
        transition : transform .5s ease;
    }

    .navigation {
        align-items : center;
        background  : var(--yellow);
        display     : flex;
        height      : 100vh;
        position    : absolute;
        right       : 0;
        top         : 0;
        transform   : translateX(105%);
        width       : 100vw;
        z-index     : 15;
    }

    .navigation > ul {
        align-items     : center;
        display         : flex;
        flex-direction  : column;
        gap             : 5vh;
        height          : 100%;
        justify-content : center;
        list-style      : none;
        margin          : 0;
        padding         : 0;
        width           : 100%;
    }

    nav > ul > li > * {
        font-size : 2rem;
    }

    nav > ul > li > button {
        background    : none;
        border        : 3px solid var(--black);
        border-radius : 2rem;
        color         : var(--black);
        font-family   : rBold, Arial, sans-serif;
        padding       : .5rem 1rem;
    }

    nav > .hide {
        transform  : translateX(0);
        transition : none;
    }

    .slide-out {
        transform : translateX(100%);
        /*transition : transform 0.3s;*/
    }

    .slide-in {
        transform : translateX(0);
        /*transition : transform 0.3s;*/
    }
}

/* interactions */
button {
    align-items         : center;
    background          : var(--black);
    border              : var(--black-border);
    border-radius       : 1.5rem;
    color               : var(--white);
    cursor              : pointer;
    display             : flex;
    fill                : var(--yellow);
    font-family         : rRegular, sans-serif;
    font-size           : 1rem;
    justify-content     : center;
    padding             : .7rem 1.4rem;
    transition-duration : 500ms;
    width               : fit-content;
}

button:hover {
    background : var(--yellow);
    color      : var(--black);
    fill       : var(--black);
}

button.hover-white:hover {
    background : var(--white);
    color      : var(--black);
}

button > svg {
    margin-left : .5rem;
}

.scale:hover {
    transform        : scale(1.04);
    transform-origin : 50% 50%;
    transition       : .5s ease;
    /*display: inline-block;*/
}

.big-scale:hover {
    transform        : scale(1.15);
    transform-origin : 50% 50%;
    transition       : .5s ease;
}

.transition {
    transform-origin : center;
    transition       : .5s ease;
}

input, textarea {
    border        : var(--black-border);
    border-radius : 0.5rem;
    color         : var(--black);
    display       : block;
    font-family   : rRegular, sans-serif;
    font-size     : 1rem;
    margin-top    : .5rem;
    padding       : .75rem 1rem;
    width         : 100%;
}

input:focus, textarea:focus {
    outline : none;
}

textarea {
    overflow : hidden;
    resize   : vertical;
}

/* layout */
.center {
    display        : flex;
    flex-direction : column;
    place-items    : center;
}

.container {
    max-width  : 1320px;
    padding    : 0 16px;
    position   : relative;
    transition : height 0.5s ease-out;
    width      : 100%;
}

.full-width {
    align-items    : center;
    display        : flex;
    flex-direction : column;
    width          : 100%;
}

.flex-row {
    display        : flex;
    flex-direction : row;
    gap            : 1rem;
    height         : auto;
}

.gap-2 {
    gap : 2rem;
}

.card {
    display        : flex;
    flex-direction : column;
}

.card > h3 {
    position : relative;
    z-index  : -1;
    font-size: 1.5rem;
}

.card > h3::before {
    content  : url("../img/svg/white-dot.svg");
    left     : -2.5rem;
    position : absolute;
    top      : -1rem;
    width    : 5rem;
    z-index  : -2;
}

.card > img {
    grid-area : img;
    position  : relative;
    width     : 100%;
    z-index   : 0;
}

.card > p {
    position : relative;
    z-index  : 3;
}

.z1 {
    position : relative;
    z-index  : 1;
}

.z2 {
    position : relative;
    z-index  : 2;
}

.z3 {
    position : relative;
    z-index  : 3;
}

.invisible {
    opacity : 0;
}

/* card for smaller devices */
@media (max-width : 640px) {
    .flex-row { flex-direction : column; }

    .card > img { margin-top : 1rem; }

    .card > h2::before {
        content  : url("../img/svg/white-dot.svg");
        left     : -5rem;
        position : absolute;
        top      : -1.5rem;
        width    : 15rem;
        z-index  : -1;
    }

    .card > p {
        position : relative;
        z-index  : 0;
    }
}

/* footer */
.footer-wave > svg {
    stroke-width : var(--stroke);
}

.footer-elements {
    display               : grid;
    gap                   : 1rem;
    grid-template-columns : 1fr;
    grid-template-rows    : repeat(3, auto);
    justify-items         : center;
    margin                : 0 auto;
}

/*.footer-elements > * {*/
/*    max-width : 60rem;*/
/*    width     : 90%;*/
/*}*/

footer a {
    color           : var(--black);
    display         : inline-block;
    margin-top      : 4px;
    text-decoration : none;
}

.social-icons {
    display         : flex;
    flex-direction  : row;
    gap             : 1rem;
    justify-content : center;
}

/* INDEX PAGE */
.hero-container {
    align-items         : center;
    /*background-image    : url("../img/webp/ateliers_1920.webp");*/
    background-color: var(--light-grey);
    /*background-position : top;*/
    background-repeat   : no-repeat;
    background-size     : cover;
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    margin              : 0;
    padding             : 0;
    width               : 100%;
}

/*@media (max-aspect-ratio : 1/1) {*/
/*    .hero-container {*/
/*        background-image : url("../img/webp/ateliers_720.webp");*/
/*    }*/
/*}*/

#hero {
    display        : flex;
    flex-direction : row;
    max-width      : 1320px;
    padding        : 120px 16px 0;
    width          : 100%;
    position: relative;
    overflow: hidden;
}

#bg-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Behind everything inside hero */
    display: block;
    pointer-events: none;
}

/*#hero-logo {*/
/*    height     : auto;*/
/*    left       : 14vw;*/
/*    width      : clamp(120px, 40vmin, 640px);*/
/*}*/

#hero-logo-container {
  position: relative;
  max-width: 600px;
  width: 100%;
}

#hero-logo-contour {
  position: relative;
  width: 100%;
  z-index: 2;
}

#hero-logo-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

#hero-logo-video {
  opacity: 0;
  position: absolute;
  width: 87%;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-49%, -51%);
  transition: opacity 1s ease-in-out;
}

/* Optional: to avoid pointer events when invisible */
.hidden {
  pointer-events: none;
}

.hero-titles {
    /*bottom    : 24px;*/
    /*left      : 50%;*/
    /*position  : absolute;*/
    /*transform : translateX(-50%);*/
    /*width     : 50%;*/
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 32px;
    z-index: 2;
}

.hero-h1 {
    font-family : rBold, sans-serif;
    font-size   : clamp(1.5rem, 4vmax, 3rem);
    font-style  : normal;
    font-weight : bold;
}

.hero-h2 {
    font-family : rBold, sans-serif;
    font-size   : clamp(1rem, 2vmax, 1.25rem);
    font-style  : normal;
    font-weight : bold;
}

.wave {
    height  : auto;
    margin  : 0;
    padding : 0;
    width   : 100vw;
}

.wave > img {
    display  : block;
    height   : auto;
    margin   : 0;
    padding  : 0;
    position : relative;
    width    : 100%;
}

.down2px {
    bottom : -2px;
}

.up2px {
    top : -2px;
}

/* ABOUT PAGE */
.about-disk {
    /*border        : var(--black-border);*/
    border-radius : 50%;
    float         : left;
    margin-bottom : .5rem;
    margin-right  : 2rem;
    shape-outside : circle(50%);
    width         : clamp(176px, 42vmin, 332px);
}

.follow {
    display : inline;
    overflow: auto;
}

.wrap {
    overflow : auto;
}

/* DAILY */
.daily {
    align-items         : center;
    background-image    : url("../img/webp/daily_1920.webp");
    background-position : top;
    background-repeat   : no-repeat;
    background-size     : cover;
    display             : flex;
    flex-direction      : column;
    height              : 110vh;
    justify-content     : center;
    margin              : 0;
    padding             : 0;
    width               : 100vw;
}

/* inscription */
.workshop {
    align-self : center;
    background : var(--white);
    margin-top : 2rem;
    max-width  : 480px;
    padding    : 2rem;
    width      : 100%;
}

/* thank you */
.thank-you {
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    height          : 70vh;
    justify-content : center;
    margin          : 0;
    padding         : 0;
}

.cursor-circle {
    pointer-events   : none;
    position         : fixed;
    top              : 50%;
    left             : 50%;
    width            : 40px;
    height           : 40px;
    border-radius    : 50%;
    background-color : var(--yellow);
    transform        : translate(-50%, -50%) scale(1);
    transition       : transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity          : 0;
    z-index          : -1;
}

.uppercase {
    text-transform: uppercase;
}

.max-width-450 {
    max-width: 450px;
}

.width-100 {
    width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  list-style: none;
}

.text-center {
    text-align: center;
}

.tools-img {
    /*border: var(--black-border);*/
    max-height: 300px;
    float: right;
    margin-bottom: .5rem;
    margin-left: 2rem;
    border-radius: 1rem;
}

.testimonial-slider {
    width: 100%;
    max-width: 900px;
    margin: 24px auto 0;
    min-height: 200px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.testimonial-slider p {
    display: block;
}

.testimonial {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s linear;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.testimonial.active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.testimonial-message {
  /*font-size: 1.2rem;*/
  margin-bottom: 10px;
}

.testimonial-title {
  font-weight: bold;
  font-size: 1rem;
  /*color: gray;*/
}

.testimonial-dots {
  margin-top: 20px;
}

.testimonial-dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: var(--grey);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.testimonial-dot.active {
  background-color: var(--black);
}

.flex-md-col-2-rev {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.circle {
    border-radius: 100%;
}

.cover {
    object-fit: cover;
}

.img-workshops-circle {
    width: 100%;
    max-width: 450px;
    border-radius: 100%;
    object-fit: cover;
}

@media (max-width: 575px) {
    .tools-img {
        float: initial;
        max-height: initial;
        width: 100%;
        margin-left: 0;
    }

    .testimonial-slider {
        min-height: 270px;
    }

    .about-disk {
        width: 100%;
        margin: 0 auto 32px;
        display: block;
        max-width: 400px;
        float: initial;
    }
    .follow {

    }
}

@media (max-width: 767px) {
    .flex-md-col-2-rev {
        flex-direction: column;
    }
}

@media (max-width: 1199px) {
    #hero {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 120px 16px 60px;
    }

    .hero-h1, .hero-h2 {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .grid-md-col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .ml-md-64 {
        margin-left: 64px;
    }

    .ml-md-128 {
        margin-left: 128px;
    }

    .fs-md-18 {
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-workshops-circle {
        width: 350px;
    }
}

@media (min-width: 961px) {
    .ml-lg-32 {
        margin-left: 32px;
    }
}

@media (min-width: 1200px) {
    #hero-logo-container {
        margin-right: -20px;
    }

    .grid-xl-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .card-img-xl-left {
        max-height: 375px;
        object-fit: cover;
    }
}