div.mt-5.container
    h1 À propos
    h2.mt-3 Notre mission
    p Aider les professionnels à reconnecter avec leur créativité pour renforcer leur leadership, leur collaboration et leur capacité à innover. À travers nos ateliers ludiques et expérientiels, nous proposons des expériences d’apprentissage qui mobilisent les émotions, le corps et l’esprit, afin de favoriser une transformation dans les milieux professionnels.
    h2.mt-3 Notre philosophie
    p Dans un monde où les défis sont omniprésents,
        strong la joie
        | devient un levier puissant pour développer une collaboration fluide, faire face aux enjeux avec agilité et cultiver une résilience active. Grâce à nos ateliers, nous souhaitons permettre à chacun de nourrir son énergie positive et de réinventer son approche du travail au quotidien.
    img(src='/img/webp/happy_960.webp', alt='Une femme heureuse danse près de son bureau' width="1192" height='850').rounded-corner.img-lazy.img-big.mt-1
div.full-width.mt-3
    div.wave
        img(src='/img/svg/wave_04.svg' width='100%' height='100%' alt='' aria-hidden='true')
div.full-width.yellow-background
    div.container.mt-3.mb-3
        img(src='/img/webp/vanessa-500.webp', alt='Portrait de Vanessa').about-disk
        h2.follow Vanessa Gerold
        div.mb-1
        h3.follow Fondatrice de Wonderflow et facilitatrice
        div.mb-1
        p.follow
            | Avec
            strong plus de 20 ans d’expérience internationale en marketing et en innovation
            | dans des secteurs tels que la beauté et la santé, j’ai développé une expertise unique pour comprendre les dynamiques d’équipe et stimuler leur créativité, que ce soit dans des PME ou des multinationales.
        div.mb-1
        p.follow
            strong Wonderflow
            | est l’aboutissement de ce parcours. En m’appuyant sur les découvertes des neurosciences, de la recherche en management et des arts ancestraux, je vous propose des expériences révélatrices, mêlant réflexion, émotion et action.
div.full-width
    div.wave
        img(src='/img/svg/wave_05.svg' width='100%' height='100%' alt='' aria-hidden='true').up2px
// Path: src/views/about.pug