div.container.mt-5
    h1 Contact
    form(hx-post='/fr-ca/contact' hx-target='main' hx-swap='innerHTML' hx-push-url='/fr-ca/contact-merci')
        label.mt-2.z1.yellow-dot(for='name') Nom:
        input#name.z1(type='text' name='name' placeholder='Votre nom (requis)' required='true')
        label.mt-2.z1.yellow-dot(for='email') Courriel:
        input#email.z1(type='email' name='email' placeholder='Votre courriel (requis)' required='true')
        label.mt-2.z1.yellow-dot(for='message') Question ou commentaire:
        textarea#message.z1(name='message' rows='5' placeholder='Vos questions ou commentaire (requis)' required='true')
        button.btn.btn-primary(type='submit').transition.mt-2
            | Envoyer
            <svg width="18px" height="100%" viewBox="0 0 12 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><path d="M6.754,2.247l0,0.001c0,-0 1.4,0.591 2.52,1.461c0.339,0.264 0.653,0.552 0.88,0.862c0.161,0.219 0.282,0.443 0.282,0.68c0,0.237 -0.121,0.461 -0.282,0.681c-0.227,0.309 -0.541,0.598 -0.88,0.862c-1.12,0.869 -2.52,1.461 -2.52,1.461c-0.394,0.168 -0.579,0.624 -0.411,1.018c0.167,0.394 0.623,0.578 1.018,0.411l0,-0c0,-0 2.184,-0.933 3.497,-2.21c0.69,-0.672 1.132,-1.449 1.132,-2.223c-0,-0.773 -0.442,-1.55 -1.132,-2.222c-1.313,-1.277 -3.497,-2.211 -3.497,-2.211l-0,0c-0.395,-0.167 -0.851,0.017 -1.018,0.412c-0.168,0.394 0.017,0.85 0.411,1.017Z" "/><g><path d="M7.284,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M4.148,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/><path d="M1.013,6.236c0.551,-0 0.999,-0.441 0.999,-0.985c-0,-0.544 -0.448,-0.985 -0.999,-0.985c-0.552,0 -0.999,0.441 -0.999,0.985c-0,0.544 0.447,0.985 0.999,0.985Z" style="fill-rule:nonzero;"/></g></svg>
// Path: src/views/contact.pug