doctype html
html(lang='en')
    head
        include head
    body
        header
            include header
        main
            if content === 'about'
                include a-propos
            else if content === 'approach'
                include approche
            else if content === 'blog'
                include blog
            else if content === 'contact'
                include contact
            else if content === 'policy'
                include politique
            else if content === 'workshops'
                include ateliers
            else if content === 'daily'
                include quotidien
            else if content === 'inscription'
                include inscription
            else if content === 'success'
                include succes
            else
                include index
        div.cursor-circle
        footer
            include footer
        script(defer src='./js/htmx.min.js')
        script(defer type="module" src='./js/scripts.js')
        script(src="/vendor/cookieconsent/cookieconsent.umd.js")
        script(src="/js/cookieconsent-config.js")
        if process.env.NODE_ENV !== 'production'
            script(src='http://localhost:35729/livereload.js')

// Path: views/layout.pug
