.upper_pad_exLarge {
  padding-top: 125px;
}

.upper_pad_large {
  padding-top: 75px;
}

.upper_pad_med {
  padding-top: 50px;
}

.upper_pad_small {
  padding-top: 25px;
}

.upper_pad_exSmall {
  padding-top: 10px;
}

.lower_pad_large {
  padding-bottom: 75px;
}

.lower_pad_med {
  padding-bottom: 50px;
}

.lower_pad_small {
  padding-bottom: 25px;
}

.lower_pad_exSmall {
  padding-bottom: 12px;
}

.left_pad_large {
  padding-left: 75px;
}

.left_pad_med {
  padding-left: 50px;
}

.left_pad_small {
  padding-left: 25px;
}

.right_pad_large {
  padding-right: 75px;
}

.right_pad_med {
  padding-right: 50px;
}

.right_pad_small {
  padding-right: 25px;
}

.horizontal_pad_large {
  padding-right: 100px;
  padding-left: 100px;
}

.horizontal_pad_med {
  padding-right: 50px;
  padding-left: 50px;
}

.horizontal_pad_small {
  padding-right: 25px;
  padding-left: 25px;
}

.horizontal_pad_exSmall {
  padding-right: 5px;
  padding-left: 5px;
}

.vertical_pad_large {
  padding-top: 75px;
  padding-bottom: 75px;
}

.vertical_pad_med {
  padding: 50px 0;
}

.vertical_pad_small {
  padding: 25px 0;
}

.pad_5px {
  padding: 5px;
}

.vertical_mar_med {
  margin: 50px 0;
}
