/* fonts */
@font-face {
  font-family: "rale100";
  src: url("../font/raleway-extralight-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale200";
  src: url("../font/raleway-light-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale300";
  src: url("../font/raleway-regular-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale500";
  src: url("../font/raleway-medium-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale700";
  src: url("../font/raleway-bold-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale900";
  src: url("../font/raleway-extrabold-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale1000";
  src: url("../font/raleway-black-webfont.woff2") format("woff2");
  font-display: swap;
}

.rale100 {
  font-family: rale100, sans-serif;
  font-display: swap;
}

.rale200 {
  font-family: rale200, sans-serif;
  font-display: swap;
}

.rale300 {
  font-family: rale300, sans-serif;
  font-display: swap;
}

.rale500 {
  font-family: rale500, sans-serif;
  font-display: swap;
}

.rale700 {
  font-family: rale700, sans-serif;
  font-display: swap;
}

.rale900 {
  font-family: rale900, sans-serif;
  font-display: swap;
}

.rale1000 {
  font-family: rale1000, sans-serif;
  font-display: swap;
}

.large_title {
  font-size: clamp(2rem, 7vw, 4rem);
  line-height: clamp(2rem, 7vw, 4rem);
}

.medium_title {
  font-size: clamp(1.25rem, 4.5vw, 2.5rem);
  line-height: clamp(1.5rem, 4.5vw, 2.5rem);
}

.small_title {
  font-size: clamp(1rem, 2vw, 1.25rem);
  line-height: clamp(1.25rem, 2vw, 1.5rem);
}

.size_1 {
  font-size: 1rem;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  /*-webkit-scroll-snap-type: y mandatory;*/
  /*scroll-snap-type: y proximity;*/
}

section {
  /*scroll-snap-align: end;*/
}

.hero_text {
  background-image: url("../svg/bubble01.svg");
  background-repeat: space;
  width: fit-content;
  padding: clamp(10px, 2vw, 40px) clamp(20px, 3vw, 60px);

}

.hero_font {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*transform-style: preserve-3d;*/
}

#heroImage {
  background-image: url("../img/ateliers_1920.jpg");
  min-height: 100%;
  /*position: relative;*/
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.background {
  /*position: absolute;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*object-fit: cover;*/
  /*transform: translateZ(-10px);*/
}

a {
  color: #333;
}

/* color variables */
:root {
  --c0: #fff;
  --c1: #FEF590;
  --c2: #ABDA8E;
  --c3: #67B892;
  --c4: #39938D;
  --c5: #2D6D7A;
  --c6: #2F4858;
  --c7: #1b2f3b;
  --nav: rgb(0, 0, 0);
  --c8: #000;

  --blue: #71ABD0;
  --pink: #F6ACBB;
  --beige: #FEF8E8;
  --yellow: #FEF590;
  --orange: #db752c;
}

/* foreground colors */
.c0 {
  color: var(--c0);
}

.c1 {
  color: var(--c1);
}

.c2 {
  color: var(--c2);
}

.c3 {
  color: var(--c3);
}

.c4 {
  color: var(--c4);
}

.c5 {
  color: var(--c5);
}

.c6 {
  color: var(--c6);
}

.c7 {
  color: var(--c7);
}

.c_black {
  color: var(--c8);
}

/* background colors */
.back_c0 {
  background-color: var(--c0);
}

.back_c1 {
  background-color: var(--c1);
}

.back_c2 {
  background-color: var(--c2);
}

.back_c3 {
  background-color: var(--c3);
}

.back_c4 {
  background-color: var(--c4);
}

.back_c5 {
  background-color: var(--c5);
}

.back_c6 {
  background-color: var(--c6);
}

.back_c7 {
  background-color: var(--c7);
}

/* opacity */
.translucent {
  opacity: 90%;
}

* {
  margin: 0;
  padding: 0;
  backface-visibility: hidden
}

.overlay_mix {
  mix-blend-mode: overlay;
}

.lumi_mix {
  mix-blend-mode: luminosity;
}

.isolate {
  isolation: isolate;
}

.fadeIn {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* general */
html {
}

* {
  margin: 0;
  padding: 0;
  color: #555;
}

img {
  display: block;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.image_button {
  scale: 95%;
  transition: scale 500ms ease;
}

.image_button:hover {
  scale: 105%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no_scroll::-webkit-scrollbar {
  display: none;
}

.no_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

.nav {
  text-transform: uppercase;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #fffc;
  border-bottom: 2px #fff solid;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.text {
  font-size: 1rem;
}

.picture_frame {
  padding: 5px;
}

.white_frame {
  border: 2px white solid;
}

.rounded_corners {
  border-radius: 12px;
}

.convert_to_circle {
  border-radius: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  border: 0;
}

.light_button {
  color: white;
  background-color: #fff0;
  border: 2px white solid;
  padding: 20px 12px;
  mix-blend-mode: overlay;
  font-family: "rale500", sans-serif;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}

.dark_button {
  color: #333;
  background-color: #fff0;
  border: 2px #333 solid;
  padding: 20px 12px;
  font-family: "rale500", sans-serif;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}

p {
  line-height: 1.75rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.custom-shape-divider-bottom-1668737981 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1668737981 svg {
  position: relative;
  display: block;
  width: calc(140% + 1px);
  height: 74px;
  /*transform: rotateY(180deg);*/
  /*z-index: 12;*/
}

.custom-shape-divider-bottom-1668737981 .shape-fill {
  fill: #fff;
}

svg {
  display: block;
}

.window_parent {
  position: relative;
  top: 0;
  left: 0;
}

.window {
  position: relative;
  top: 0;
  left: 0;

}
.person_in_window {

  background: #FCF8CC;

}

.yellow_background {
  background-color: #FEF590;
}

.question {
  clip-path: circle(50% at 50% 50%);
  background-color: #FFF;
  width: 19vmax;
  height: auto;
}

.question_border {
  width: 100%;
  height: 100%;
  background: #333;
  position: absolute;
  clip-path: circle(50% at 50% 50%);
}

.bubble {
  background: white;
  height: fit-content;
  width: fit-content;
  border: #666 2px solid;
  font-family: rale700, sans-serif;
  font-size: 1.125rem;
}

.pad_01 {
  padding: 2vmin 2vmin;
}

.pad_02 {
  padding: 1vmin 5vmin;
}

.pad_03 {
  padding: 1vmin 3vmin;
}

.pad_04 {
  padding: 1vmin 1vmin;
}

.S1 {
  border-radius: 1vmin / 50%;
  z-index: 1;
}

.S2 {
  border-radius: 1vmin / 50%;
  padding: 1vmin 1vmin;
  z-index: 2;
}

.S3 {
  border-radius: 1vmin / 50%;
  padding: 1vmin 3vmin;
  z-index: 3;
}

.S4 {
  border-radius: 1vmin / 50%;
  padding: 1vmin 6vmin;
  z-index: 4;
}

.S5 {
  border-radius: 1.5vh;
  padding: 2vmin 2vmin;
  z-index: 5;
}
