/* fonts */
@font-face {
  font-family: "rale100";
  src: url("../font/raleway-extralight-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale200";
  src: url("../font/raleway-light-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale300";
  src: url("../font/raleway-regular-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale500";
  src: url("../font/raleway-medium-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale700";
  src: url("../font/raleway-bold-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale900";
  src: url("../font/raleway-extrabold-webfont.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rale1000";
  src: url("../font/raleway-black-webfont.woff2") format("woff2");
  font-display: swap;
}

.rale100 {
  font-family: rale100, sans-serif;
  font-display: swap;
}

.rale200 {
  font-family: rale200, sans-serif;
  font-display: swap;
}

.rale300 {
  font-family: rale300, sans-serif;
  font-display: swap;
}

.rale500 {
  font-family: rale500, sans-serif;
  font-display: swap;
}

.rale700 {
  font-family: rale700, sans-serif;
  font-display: swap;
}

.rale900 {
  font-family: rale900, sans-serif;
  font-display: swap;
}

.rale1000 {
  font-family: rale1000, sans-serif;
  font-display: swap;
}

.size_1 {
  font-size: 1rem;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
  /*-webkit-scroll-snap-type: y mandatory;*/
  /*scroll-snap-type: y proximity;*/
}

section {
  /*scroll-snap-align: end;*/
}

.hero_text {
  background: white;
  border: black 2px solid;
  border-radius: 1.5vmax;
  width: fit-content;
  padding: 2vmax;
}

.hero_large {
  font-size: clamp(2rem, 4.5vmax, 5rem);
  line-height: clamp(2.25rem, 4.5vmax, 4.5rem);
}

.hero_medium {
  font-size: clamp(1.5rem, 3.25vmax, 3.25rem);
  line-height: clamp(1.75rem, 4.5vmax, 3.5rem);
}

.hero_small {
  font-size: clamp(1rem, 2vmax, 1.5rem);
  line-height: clamp(1.125rem, 2vmax, 1.75rem);
}

#hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*transform-style: preserve-3d;*/
}

#heroImage {
  background-image: url("../img/ateliers_1920.jpg");
  min-height: 100%;
  /*position: relative;*/
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* color variables */
:root {
  --blue: #71ABD0;
  --pink: #F6ACBB;
  --beige: #FEF8E8;
  --yellow: #FEF590;
  --orange: #e79761;
  --black: #555555;

}

/* TEXT */
.uppercase {
  text-transform: uppercase;
}

.large_title {
  font-size: clamp(2rem, 7vw, 3rem);
  line-height: clamp(2rem, 7vw, 3rem);
}

.medium_title {
  font-size: clamp(1.25rem, 4.5vw, 2rem);
  line-height: clamp(1.5rem, 4.5vw, 2rem);
}

.small_title {
  font-size: clamp(1rem, 2vw, 1.5rem);
  line-height: clamp(1.25rem, 2vw, 1.5rem);
}

li a {
  color: #333;
  font-family: rale300;
  font-size: 1rem;
}

a {
  color: var(--blue);
  font-family: rale700, sans-serif;
  font-size: 1.25rem;
}

/* opacity */
.translucent {
  opacity: 90%;
}

* {
  margin: 0;
  padding: 0;
  backface-visibility: hidden
}

.isolate {
  isolation: isolate;
}

.fadeIn {
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* general */
html {
}

* {
  margin: 0;
  padding: 0;
  color: #555;
}

img, svg {
  display: block;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no_scroll::-webkit-scrollbar {
  display: none;
}

.no_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

.nav {
  text-transform: uppercase;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #fffc;
  border-bottom: 2px #fff solid;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.text {
  font-size: 1.25rem;
}

.picture_frame {
  padding: 5px;
}

.yellow_frame {
  border: 6px var(--yellow) solid;
  border-radius: 2vmax;
}

.pink_frame {
  border: 6px var(--pink) solid;
  border-radius: 2vmax;
}

.blue_frame {
  border: 6px var(--blue) solid;
  border-radius: 2vmax;
}

.rounded_corners {
  border-radius: 12px;
}

.convert_to_circle {
  border-radius: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.light_button {
  color: white;
  background-color: #fff0;
  border: 2px white solid;
  padding: 20px 12px;
  mix-blend-mode: overlay;
  font-family: "rale500", sans-serif;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}

.dark_button {
  color: #333;
  background-color: #fff0;
  border: 2px #333 solid;
  padding: 20px 12px;
  font-family: "rale500", sans-serif;
  font-size: 1rem;
  line-height: 0;
  cursor: pointer;
}

p {
  line-height: 1.75rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(140% + 1px);
  height: 74px;
  /*transform: rotateY(180deg);*/
  /*z-index: 12;*/
}

.wave .shape-fill {
  fill: #fff;
}

.yellow_bkgnd {
  background-color: var(--yellow);
}

.blue_bkgnd {
  background-color: var(--blue);
}

.pink_bkgnd {
  background-color: var(--pink);
}

.circle {
  font-family: "rale500", sans-serif;
  font-size: 1.25rem;
  color: black;
  clip-path: circle(50% at 50% 50%);
  width: 100%;
  height: auto;
  /*margin: 1rem;*/
}

.bubble {
  background: white;
  height: fit-content;
  width: fit-content;
  border: #666 2px solid;
  font-family: rale700, sans-serif;
  font-size: 1.125rem;
  height: max-content;
}

.disc {
  width: 10rem;
  height: 10rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-family: rale300, sans-serif;
  font-size: 1.5rem;
  margin: 0 2rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a.link {
  text-decoration: none;
  margin: 0.25rem 0;
}

.link {
  color: #71ABD0;
  display: inline-block;
  padding-bottom: 0.25rem;
  position: relative;
}

.link::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #71ABD0;
  transition: width 0.25s ease-out;
}

.link:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}
