/* fonts */
@font-face {
    font-family: 'rRegular';
    src: url('fonts/raleway-medium.woff') format('woff'),
    url('fonts/raleway-medium.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rBold';
    src: url('fonts/raleway-semi-bold.woff') format('woff'),
    url('fonts/raleway-semi-bold.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rItalic';
    src: url('fonts/raleway-medium-italic.woff') format('woff'),
    url('fonts/raleway-medium-italic.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rBoldItalic';
    src: url('fonts/raleway-semi-bold-italic.woff') format('woff'),
    url('fonts/raleway-semi-bold-italic.woff');
    font-weight: normal;
    font-style: normal;
}

/* colors */
:root {
    --white: #FFF;
    --black: #333;
    --grey: #BBB;
    --yellow: #FFF590;
    --translucent: #FFFA;
}
.white {
    color: var(--white);
}
.black {
    color: var(--black);
}
.yellow {
    color: var(--yellow);
}
.translucent {
    color: var(--translucent);
}

/* margins */
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}

/* defaults & resets */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* type */
    font-family: rRegular, Arial, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    line-height: 1.25;
    color: var(--black);
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 90%;
    max-width: 60rem;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    font-family: rBold, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: 2rem;
    margin-top: 1rem;
}
h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
}
h3 {
    font-size: 1.25rem;
    margin-top: 1rem;
}
h4 {
    font-size: 1rem;
    margin-top: 1rem;
}
p, q, label {
    font-style: normal;
    margin-top: 1rem;
    padding: 0;
    display: block;
}
p, q {
    font-style: normal;
}
label {
    font-family: rBold, "Arial Black", sans-serif;
}
cite {
    font-style: normal;
    font-family: rBold, Arial, sans-serif;
    margin-left: 2rem;
}
ul {
    list-style: none;
    position: relative;
    margin-top: 2rem;
}
ul.yellow-list li {
    position: relative;
    padding-left: 1.2rem; /* adjust as needed */
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}
ul.yellow-list li::before {
    content: url('./img/svgFolder/yellow-dot.svg');
    position: absolute;
    width: 40px; /* adjust as needed */
    height: 40px; /* adjust as needed */
    left: 0;
    top: -1rem;
    z-index: -1; /* pushes it back */
}

/* navigation */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--translucent);
    backdrop-filter: blur(5px);
    width: 100%;
    position: fixed;
    z-index: 3;
}
nav {
    width: 90%;
    max-width: 60rem;
    margin: .7rem 0 .5rem;
}
nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav > ul > li:first-child {
    margin-right: auto; /* Pushes the rest of the items towards the end */
}
nav > ul > li:last-child {
    margin-right: 1rem;
}
nav > ul > li > a {
    text-decoration: none;
    color: var(--black);
}

/* interactions */
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    color: var(--white);
    font-family: rRegular, sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 1.25rem;
    border: 0.09375rem solid var(--black);
    transition-duration: 500ms;
    fill: var(--yellow);
    width: auto;
}
button:hover {
    background: var(--yellow);
    color: var(--black);
}
button:hover {
    fill: var(--black);
}
button > svg {
    margin-left: .5rem;
}

input, textarea {
    display: block;
    width: 100%;
    padding: .35rem .5rem;
    margin-top: .5rem;
    border: 0.09375rem solid var(--grey);
    border-radius: 0.5rem;
    font-family: rRegular, sans-serif;
    font-size: 1rem;
    color: var(--black);
}
input:focus, textarea:focus {
    outline: none;
}

textarea {
    resize: vertical;
    overflow: hidden;
}

/* layout */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 960px;
    position: relative;
}

/* footer */
.footer-elements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    justify-items: center;
}
.footer-elements > * {
    width: 90%;
    max-width: 60rem;
}
footer a {
    text-decoration: none;
    color: var(--black);
    display: block;
}
.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

/* INDEX PAGE */
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 110vh;
    margin: 0;
    padding: 0;
    background: no-repeat top/cover url("img/jpgFolder/ateliers_1920.jpg") fixed;
}
#hero {
    height: 110vh;
    width: 90%;
    max-width: 60rem;
}
#hero-logo {
    left: 14vw;
    margin-top: 10vh;
    width: clamp(120px, 40vmin, 640px);
    height: auto;
}
.hero-titles {
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}
.hero-h1, .hero-h2 {
    color: var(--white);
    text-align: center;
}
.hero-h1 {
    font-family: rBoldItalic, sans-serif;
    font-size: clamp(1.5rem, 4vmax, 5rem);
}
.hero-h2 {
    font-family: rBold, sans-serif;
    font-size: clamp(1rem, 2vmax, 3rem);
}
#hero-wave {
    width: 100vw;
    height: auto;
}
#hero-wave > img {
    display: block;
    padding: 0;
    margin: 0;
}

